[2019-12-07 21:08] matejdro opened #173 "Connecting to Spotify offline takes several seconds"
Issue found on 7. 12. 2019 (unrelated note: Github is alredy tracking the dates on the issue, why is this needed?).

#### SDK Version:

Spotify App Remote 0.7.0
Spotify 8.5.33.831

#### OS Version: Android 10

#### Steps to reproduce:
1. Turn on airplane mode
3. Connect to the Spotify via SpotifyAppRemote.connect()

#### Expected behaviour:
Since everything is running offline, app should connect i

[2019-12-07 21:10] matejdro opened #174 "Playing downloaded playlist when offline reports TRACK_UNAVAILABLE_OFFLINE but still plays"
Issue found on 7. 12. 2019 (unrelated note: Github is alredy tracking the dates on the issue, why is this needed?).

#### SDK Version:

Spotify App Remote 0.7.0
Spotify 8.5.33.831

#### OS Version: Android 10

#### Steps to reproduce:
1. Download playlist to your phone
2. Turn on airplane mode
3. Connect to the Spotify via SpotifyAppRemote.connect() and play downloaded playlist with PlayerApi.play

[2019-12-08 09:23] matejdro commented on #173
I would argue that connection should always prioritize cached authentication (and verify it later). That way there is no delay in either case (for example online can also take a lot of time if connection is spotty).

Good analogy again would be the way music is played - If you tap on the playlist that is cached/downloaded it will start playing immediately regardless of your network connectivity st

[2019-12-09 06:06] matejdro opened #175 "Spotify sometimes refuses offline connection after being offline for only minutes"
Issue found on 9. 12. 2019

#### SDK Version:

Spotify App Remote 0.7.0
Spotify 8.5.33.831

#### OS Version

Android 10

#### Steps to reproduce:
1. Have phone online normally for hours
2. Turn on airplane mode
3. After few minutes, attempt to connect to the Spotify via SpotifyAppRemote.connect()

Example use case is being on home wifi for hours and then walking to an underground garage without ph

[2019-12-09 06:06] matejdro commented on #171
Is this always broken for you? For me it is is only sometimes broken (https://github.com/spotify/android-sdk/issues/175)

[2019-12-09 11:48] alaeri commented on #171
@matejdro this bug is not related to the connection part. The connection part seems pretty stable (but a bit slow) in my use cases. This happens when I'm trying to play a specific track while being offline.

[2019-12-10 06:46] MonkeyLLuffy opened #176 "Client authentication failed:INVALID_APP_ID"
Does a CLIENT_ID only correspond to a keystore file?

The reason why I ask this question is that every time I change a keystore file, and then the edit application , it will report the above error.

[2019-12-11 07:57] mdelolmo commented on #176
Hi,
The keystore you use must match the one whose fingerprint you entered when you created your app in https://developer.spotify.com.

[2019-12-11 07:58] mdelolmo commented on #173
Hi @matejdro that is a good point, I will bring it up with the team.

[2019-12-11 07:59] MonkeyLLuffy commented on #176
In the morning, my CLIENT_ID is OK.
After that, I  change a wrong client_id on purpose, and then change back to morning one, also Client authentication failed:INVALID_APP_ID

[2019-12-11 08:01] mdelolmo commented on #171
Hi @alaeri the tracks are not downloaded automatically by design. Only those tracks that have been explicitly downloaded by the user in the Spotify app will play.

[2019-12-11 08:02] mdelolmo commented on #167
@ltomov  Are you using Java8? That looks like the kind of error you get when you app can't handle lambdas.

[2019-12-11 08:03] MonkeyLLuffy commented on #176
Thank you
After the correct and wrong INVALID_APP_ID switch, the correct one will also throw exception.

[2019-12-11 08:11] mdelolmo commented on #176
Hi @MonkeyLLuffy
INVALID_APP_ID means that in the authorization request, the pair [package-id,keystore-signature] doesn't match that entered in the developer portal, for that client-id.

Which is to say, the following fields must match the information that was used when creating the app:
- client-id
- app-id (package-id)
- redirect-uri
- keystore signature: you should have entered it using a sha1

[2019-12-11 08:25] MonkeyLLuffy commented on #176
I regist three client_id in https://developer.spotify.com/dashboard/applications, use same app-id.
My question is: I use the same client_id and package_id. morning is run normally, afternoon get INVALID_APP_ID.  (PS:  I'm sure all four conditions are the same, )

[2019-12-11 08:50] mdelolmo commented on #176
Hi @MonkeyLLuffy
I understand now. I don't think you should be able to create three client-ids with the same app-id in the first place. I think that is an issue in the developer console.
My hypothesis is that doing that causes the inconsistency you are seeing.
To fix it, I'd recommend to delete two of your apps so you are left only with one client-id for a given app-id.

Out of curiosity: Why did

[2019-12-11 08:57] mdelolmo commented on #172
Sorry @prsnt
That version of the SDK is no longer supported.
Please migrate to the [Android App-Remote SDK](https://github.com/spotify/android-sdk).
[More info](https://developer.spotify.com/community/news/2019/09/09/streaming-repo-shutdown-date/)

[2019-12-11 08:57] #172 closed, assigned to nobody

[2019-12-11 08:59] MonkeyLLuffy commented on #176
I just use demo test

hhh, I just want to find out if there's something missing when I sign up for the app， Before I knew it, I got three
I just delete two ，also failed:INVALID_APP_ID

[2019-12-11 09:22] mdelolmo commented on #176
Hi @MonkeyLLuffy
You say you are using the sample, but are you changing the credentials in the sample or leaving them as they are?

Also, please keep in mind that the sha1 signature has to be ALLCAPS

[2019-12-11 10:16] ltomov commented on #167
That could be the case, yes.
But I have a bunch of Java installations and I'm not 100% sure which one is being used, this is from the About screen in Android Studio if it's any help:

[code]

PS: I ended up using the web api actually, so for me personally this is no longer a problem.

[2019-12-11 12:02] davidhewitt opened #177 "WearOS support?"
Is there plans for this API to work on Wear OS (which is very similar to Android)?

In particular, there's no way to get spotify offline playback on Wear OS. If this API supported Wear OS, then maybe a third-party app would be able to provide it even if the main Wear OS spotify app doesn't have offline options.

There's a much-requested idea for Offline Wear OS support at https://community.spotify

[2019-12-11 13:40] alaeri commented on #171
Hello @mdelolmo

The track is included in a playlist that has been downloaded for offline use. I can play the playlist or the track fine through spotify app in airplane mode. Trying to play the track through the sdk does not work.

[2019-12-11 13:54] mdelolmo commented on #171
Ok, so you are trying to play a single track that was downloaded as part of a context by the user.
Yes, I see why that doesn't work. I think we can consider it a bug.

[2019-12-12 03:19] MonkeyLLuffy commented on #176
- I got SHA1 from run`. / gradlew signreport` on Anroid Studio.

- I add sample in my dashboard, and then replace client_id、keystore file, also faild.

[2019-12-16 08:54] veronikapetruskova commented on #75
Hi @gabrielittner @supergoudvis112 @rockerhieu we've released a new version of Auth library 1.2.0 which now contains method `clearCookies`

[2019-12-16 08:59] veronikapetruskova commented on #164
Hi @dalmaxor we've released Auth library 1.2.0 which contains the mentioned fix

[2019-12-17 09:36] veronikapetruskova commented on #174
Hi @matejdro fix for this bug will be available from **Spotify app**  version **8.5.38**. No need to update the App Remote SDK.

[2019-12-17 09:36] #174 closed, assigned to nobody

[2019-12-17 13:22] mdelolmo commented on #176
Hi @MonkeyLLuffy did you try by deleting your other apps so you only have one match for the package-id:signature?

[2019-12-18 03:54] MonkeyLLuffy commented on #176
My account only hava one match for the package-id:signature！

[2019-12-23 10:30] FlorianLoch commented on #11
I would like to reopen this issue as I am not sure I actually has been resolved - at least I don't see. I was very excited when I got the notification that something was going on in this thread and finally found the time to have a look at what has been added.
If I got it right the `skipToIndex()` method has been added. And it would solve my issue of being unable to restore the playback state withi

[2019-12-24 18:00] Nelson994 opened #178 "Keeping track of playback position"
Hi,
Does anyone know how to keep live track of the playback position? For an app I'am building, I need to pause after a track. But due to lag in the system when playing via Spotify Connect, I need to stop at, let's say, 1 second before the end of the song.
To return to my question. My idea was to request the playbackPosition every half second, but I don't know how to do this. Another idea was to t

[2019-12-24 18:03] Nelson994 opened #179 "Fade out music"
Hi,
Is it possible to fade out the music when the player is paused?

Thanks for the help.

[2019-12-27 11:10] batuhanbaki opened #180 "ConnectionParams$Builder"
Date: 27/12/19
SDK Version: 0.7.0
OS Version: 8.0 Oreo

1. I follow quick start
https://developer.spotify.com/documentation/android/quick-start/#introduction

I seen thats bug 0.6.3 SDK version but im using 0.7.0 and still i seen this. What can i do?

Bug ->

2019-12-27 14:09:32.499 21745-21745/com.example.musicapp E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.prod.musicapp, PID: 21745

[2019-12-27 12:26] ghost opened #181 "is there any other way using streaming SDK on android"
I am trying to implement a Spotify android streaming SDK , but not able to find.
In-App remote app SDK needs to install Spotify APP and login there I do not want this.

[2019-12-29 12:04] SergioBL opened #182 "Fatal exception java.lang.NoSuchMethodError"
Hi! i have this error in "connect" method in this line:
SpotifyAppRemote.connect(this, connectionParams, object : Connector.ConnectionListener {

The error is this one:
java.lang.NoSuchMethodError: No virtual method getShowAuthView()Z in class Lcom/spotify/android/appremote/api/ConnectionParams; or its super classes

My app crash when i try to use the spotify sdk

[2019-12-29 17:31] anscash opened #183 "Fetching images throws error on API 19, Image is only sometimes fetched"
Hi guys!

I tried my app on my old Samsung with API 19.
It's only sometimes possible for me to fetch images with the Spotify Image API.
Have a look at the logs:

12-29 18:25:52.670 ... E/SpotifyRemoteSdk: Throwable Class: class com.spotify.protocol.client.error.RemoteClientException, Name: fetchImage(), Message: {"message":"Failed to load image."}
12-29 18:25:52.690 ... E/SpotifyRemoteSdk: Throwab

[2019-12-29 23:09] gmick919 opened #184 "AuthenticationFailedException java.lang.NullPointerException on connect"
Issue last reproduced Dec 29, 2019, but happened (occasionally, not always) multiple times before.
#### SDK Version: Last reproduced with spotify-app-remote 0.7.0, but happened before with 0.6.3 as well.
#### OS Version: Android 8.0
#### Scope(s): Connecting to Spotify.
#### Steps to reproduce:
Call SpotifyAppRemote.connect.
#### Actual behaviour:
Sometimes it results in the following error "com.s

[2020-01-02 09:36] gurpreetorem opened #185 "unable to login with spotify (integration) on live app"
am using spotify in my app
its working fine with am testing it locally but when i submi it to play store then i try to get access token but its showing error that invalid client id
one more this if i delete the spotify app from my device the i try to get the access token then its working fine but when i install the spotify app then try to get the access token then its showing error

am not able to

[2020-01-03 22:20] joseandroidengineer opened #186 "Amazon FireTV Integration"
*Not sure if this is in the works, but I'm having an error trying to implement the Android SDK into my FireTV application, I have Spotify installed and I'm still getting the Spotify not installed error.
I know if works in regular Android, does it work in Amazon? Thanks!*

Issue found on *01/04/2020*.

#### SDK Version: 0.7.0

#### OS Version: AMAZON

#### Scope(s): SpotifyAppRemote

#### Steps to

[2020-01-04 14:09] gmick919 commented on #184
Exception still happens, on and off. Here is the log from logcat:
2020-01-04 09:03:01.605 29979-30068/com.brainglass.lingoal.coach D/SPOTIFY_APP_REMOTE: Start remote client
2020-01-04 09:03:01.619 29979-30068/com.brainglass.lingoal.coach D/SPOTIFY_APP_REMOTE: Connecting to Spotify service
2020-01-04 09:03:01.633 29979-29979/com.brainglass.lingoal.coach D/SPOTIFY_APP_REMOTE: Spotify service connect

[2020-01-05 19:29] peddybeats commented on #184
Also running into this issue.
It seems instantiation a Connector.ConnectionListener has, without any code changes on the user's part, changed behavior (I only started seeing this issue today).

[2020-01-06 17:14] joseandroidengineer commented on #185
I get the same issue when testing on an Android device in debug mode

[2020-01-07 10:23] supergoudvis116 commented on #154
@mdelolmo

Sorry for bothering you, can you tell me more about this feature? I think this is a serious lacking feature since now there is no other way to connect to local speakers unless you already have an active session with them.

I don't know if there is a roadmap for the Android SDK but I couldn't find anything.

[2020-01-07 12:52] supergoudvis116 opened #187 "AuthenticationClient#clearCookies does not function?"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on 7-1-2020.

#### SDK Version:
1.2.0

#### OS Version:
Android

#### Scope(s):
irrelevant

#### Steps to reproduce:
1. Call function AuthorizationClient.clearCo

[2020-01-08 05:37] Sambal-Srivastava commented on #181
Did you find any solution to this yet? How do we integrate Spotify to android without actually installing Spotify? The Android SDK does allow Spotify authentication without actually installing Spotify but don't know how to load its content and stream them. One of the apps which do this work is 'Boom'. Please check this app once. **Link:**  https://play.google.com/store/apps/details?id=com.globalde

[2020-01-08 06:38] paicolman opened #188 "INVALID_APP_ID after uninstalling / installing spotify app"
Hi,

I am developing an android app using spotify. I have registered the app in the dashboard, added both a debug key and a release key with an own keystore, all working fine. During tests I uninstalled spotify to check if the app warns the user that it needs to have spotify installed. After that I installed spotify again, and now I get the INVALID_APP_ID error. Any hints why this can happen? When

[2020-01-08 11:52] gurpreetorem commented on #185
@joseandroidengineer yes i tested it with both debug and live
with release build its working fine but when i upload it to play store then i try to use it's showing error
do you find any solution for it?

[2020-01-08 17:50] joseandroidengineer commented on #185
@gurpreetorem  Nothing yet, oh are you using your release fingerprint when you release to the playstore?

[2020-01-08 20:26] joseandroidengineer commented on #181
I am very interested on how we can do that without having Spotify installed as well

[2020-01-09 03:30] gurpreetorem commented on #185
@joseandroidengineer  yes am using my release fingerprints
so if sdk support team not answering then how  we can use such things ?
"**3rd class sdk support team**"

[2020-01-09 03:32] gurpreetorem commented on #188
hi we all are facing same issue but support team not responding any more
**they are disgusting**

[2020-01-09 03:33] gurpreetorem commented on #176
am also facing same issue still waiting for support team response

[2020-01-09 06:42] paicolman commented on #32
@simon-marino I see this issue is closed and you confirmed it works, but I have the very same issue, correct package name, two SHA1 signatures registered in spotify (one for development, one for release), previously all working fine, but after uninstalling / installing spotify again in a dev. device for test purposes, I get the INVALID_APP_ID issue. When I update the keys. since my package name di

[2020-01-09 06:50] sagar1351 commented on #32
Hi in Spotify developer console add your Android debug key everything works fine.and if you are planning to release your app then add your release key.also check your package name.lmk everything works fine or not..

[2020-01-09 13:44] prsnt opened #190 "On track Complete listner"
Issue found on 09-12-2019.

#### SDK Version: 0.7.0

#### OS Version: Pie

#### Steps to reproduce:
1. If i want the callback if song completed.

#### Expected behaviour:
If you have such listner though i can get the call as song complete then please do let me know as i could not find.

[2020-01-09 16:44] joseandroidengineer commented on #188
@gurpreetorem Its okay to be upset, but lets keep things respectful. I'm sure the team is working on something of high priority. They probably looked at our issues and are working on it as we speak.

[2020-01-09 16:45] joseandroidengineer commented on #185
@gurpreetorem I'm sure they have more pressing issues right now. I'm confident they'll get back to us in no time.

[2020-01-09 23:31] #182 closed, assigned to nobody

[2020-01-10 04:08] CG-Gilbertus opened #191 "Seek song when player state is paused call the error callback instead of the result callback"
Issue found on 9/1/20.

#### SDK Version: `spotify-app-remote-release-0.7.0`

#### OS Version: `Nokia 6.1 Plus, Android 10`

#### Spotify App Version: `8.5.36.747`

#### Scope(s): `PlayerAPI`

#### Steps to reproduce:
1. Connect to Spotify App Remote
2. Play a track using the `playerApi.play(spotifyUri)` then pause it using the `playerApi.pause()`
3. Seek the track using `mSpotifyAppRemote?.player

[2020-01-10 06:12] paicolman commented on #188
@joseandroidengineer Agree, but a bit of feedback would be nice... (as in "you're doing it wrong" or "we know about this"...)

[2020-01-10 06:21] paicolman commented on #185
@gurpreetorem Short question: You get "invalid client id" or "invalid app id" error? I think it can be two different errors...

[2020-01-10 12:30] alaeri commented on #171
I believe this bug has been fixed on the spotify app side: 8.5.40.195 does not exhibit this bug. Thank you <3

[2020-01-10 12:41] alaeri opened #192 "Spotify offline sdk connection issues"
Issue found on 10/01/2020. It looks very similar to #184 but the error message is different.

#### SDK Version:
7.0.0
#### OS Version:
9
#### Spotify version: 8.5.40.195

#### Steps to reproduce:
Sometimes when connecting via sdk to spotify in airplane mode this error is returned by `AppRemote.connect(): `

`AuthenticationFailedException: {"message":"java.lang.Throwable: Failed resolving \u0027hm:

[2020-01-10 12:42] #171 closed, assigned to mdelolmo

[2020-01-10 12:43] alaeri commented on #175
I reproduced this bug once but I'm not sure what triggered it.

[2020-01-10 12:45] ghost opened #193 "Authentication Error (AUTHENTICATION_SERVICE_UNKNOWN_ERROR)"
Issue found on 10/01/2020.

#### SDK Version:
auth: 1.1.0
app-remote: 0.7.0

#### OS Version:
Android 10 (probably other versions too).

#### Scope(s):
- user-read-recently-played
- user-top-read
- user-library-modify
- user-library-read
- playlist-read-private
- playlist-modify-public
- playlist-modify-private
- playlist-read-collaborative
- user-read-email
- user-read-birthdate
- user-read-priva

[2020-01-10 13:39] joseandroidengineer commented on #185
@paicolman In regular Android devices I get invalid client id, but in  Amazon devices (Specifically FireTV) I get a Spotify App not found error.

[2020-01-10 15:55] ghost commented on #193
I have just found out what was causing the problem. It was the scope `"user-read-birthdate"`.

Looking for it on the web, I encountered [that link](https://github.com/spotify/web-api/issues/1262) that says that that scope was removed.

But still. It is very odd that with a double click on the button, the login activity appears correctly.

[2020-01-10 15:55] #193 closed, assigned to nobody

[2020-01-11 10:55] anscash opened #194 "Android API 19 Auth not working anymore"
Hi guys!

I am using your SpotifySDK (Auth &Remote) with my old Galaxy S4 Mini, API 19.
I have the following issue that i did'nt have before. When i try to login through the AuthSDK, the SDK Login fails and the WebView-Fallback-Login could not be completed; i get this error being logged:
`E/com.spotify.sdk.android.authentication.LoginActivity: Can't use LoginActivity with a null caller. Possible r

[2020-01-13 14:07] joseandroidengineer commented on #181
@Sambal-Srivastava Does the app 'Boom' use audio playback, if so do you know how its done?

[2020-01-13 15:19] Sambal-Srivastava commented on #181
@joseandroidengineer I haveve recently come across one of the posts from official Spotify page as well as on stack overflow over which it has been mentioned that Spotify now doesn't support the feature to play its contents in any other third party app and any app if they still support such feature then they must have integrated old sdks which won't be ever maintained by Spotify in the future. Also

[2020-01-13 21:51] joseandroidengineer commented on #181
@Sambal-Srivastava Man, that's a shame. Alright I'll check it out

[2020-01-14 10:26] supergoudvis116 commented on #190
https://spotify.github.io/android-sdk/app-remote-lib/docs/index.html?com/spotify/protocol/types/PlayerState.html

Their API is documented fine ;-)

[2020-01-14 16:22] jayleeman12 commented on #62
@joshjinlee I'm experiencing the same behavior. If you did find a solution for this, would you mind sharing it?

[2020-01-14 19:32] tomqiu17 commented on #75
@veronikapetruskova I'm having trouble finding Auth library 1.2.0 for android-sdk on the releases page (https://github.com/spotify/android-sdk/releases). I can see it for iOS https://github.com/spotify/ios-sdk/releases .
Is there something that I'm missing? Thanks!

[2020-01-15 09:13] veronikapetruskova commented on #75
@qiut858 thank you for notifying us, you should see it now.

[2020-01-15 10:25] mdelolmo commented on #186
Hi @joseandroidengineer
I am afraid that the Fire TV app is a completely different client that doesn't support the app-remote SDK.
I will give feedback to the responsible team so they will evaluate the possibility of a dedicated SDK.

Nevertheless, I encourage you to have a look to our Web Apis, maybe they you can achieve the same functionality with them: http://developer.spotify.com/

[2020-01-15 10:25] #186 closed, assigned to nobody

[2020-01-15 10:30] mdelolmo commented on #181
Hi All,

I am afraid that the Streaming SDK is no longer supported. Currently (and in the foreseeable future), our Android SDK requires an official Spotify client to perform playback.

[2020-01-15 10:30] #181 closed, assigned to nobody

[2020-01-15 10:46] mdelolmo commented on #181
As per that Boom app, it is not compliant with Spotify's T&C and I have reported it already.

[2020-01-15 11:52] veronikapetruskova commented on #191
Hi @CG-Gilbertus seek can be performed only when player is in `playing` state. We should provide better error message so it is clear why seek cannot be performed.

[2020-01-15 12:03] veronikapetruskova commented on #190
Hi @prsnt  I also suggest that you take a look at our `PlayerState` API. You can subscribe to get `PlayerState` updates.

[2020-01-15 12:03] #190 closed, assigned to nobody

[2020-01-15 12:31] veronikapetruskova commented on #178
Hi @Nelson994 playback position is contained within `PlayerState`.
You can get current `PlayerState` either by calling `mSpotifyAppRemote.getPlayerApi().getPlayerState()`
or by subscribing to `PlayerState` updates: `mSpotifyAppRemote.getPlayerApi().subscribeToPlayerState()`.

[2020-01-15 13:00] mdelolmo commented on #188
Hi @paicolman

Why do you mean by this?

Before proceeding, let me give you a couple of generic hints that seem to be a common cause of confusion.
1. Make sure that, as mentioned in [this comment](https://github.com/spotify/android-sdk/issues/145#issuecomment-543261049), the signature  is introduce in upper-case in developer-spotify.com
2. Unfortunately, due to an issue on our side, it's possible

[2020-01-15 13:01] mdelolmo commented on #194
Hi @anscash
I know there has been a change on the LoginActivity  launch-mode recently.
Can you share with me which Spotify version are you using?

[2020-01-15 13:07] gurpreetorem commented on #185
@paicolman Hi
AccountsPrefligtRequest failed with status code: 400
2020-01-15 18:35:26.832 17297-17297/? E/Spotify: [main] INVALID_APP_ID

i got this response
let me clear you the things
if spotify app is installed then it will not work then its showing this error
but if i uninstall the spotify app then i try to use spotify with in my app then its working fine

[2020-01-15 13:13] mdelolmo commented on #192
Apologies for the misleading error message.

Essentially that means Spotify tried to authorize your app online, and because the phone was in airplane mode, it failed.

Let me clarify that the "spotify was online in the last 24h" is a simplification of the actual requirement. I will add that by Spotify being online, we mean Spotify was launched online within that time frame.

For now I can treat th

[2020-01-15 13:30] mdelolmo commented on #11
Hi @FlorianLoch
I don't think you missed anything. The feature we developed doesn't seem to suit your needs.
To solve your use-case, we either need to support "skip to track-uri" or provide the index in the player state.

I will bring it up to the team, because I think it makes sense.

Best,
Manuel

[2020-01-15 13:56] alaeri commented on #192
Thank you for the clarification.

Is there a more complete description of the requirement?

(I'm pretty sure I launched spotify online in the last 24h before I had this bug, are there some situations that could reduce this timeframe? rebooting the device - spotify app killed?)

[2020-01-15 14:43] joseandroidengineer commented on #186
Hi @mdelolmo

Thanks for getting back to me! I've taken a look at the Web APIs to use audio Playback but to no avail. I'll take another look at it and see what I can do. Thanks for the help!

[2020-01-15 15:25] mdelolmo commented on #192
Hi @alaeri
Killing the app or rebooting the device should not affect this feature.

However, logging out or clearing the app's data, will invalidate the offline authorization.

In general, when your app is authorized Spotify will try to verify that is still authorized every time it's launched and online. If it can't verify it, then the TTL of that authorization is about 24 hours.

[2020-01-15 15:50] joseandroidengineer commented on #185
@gurpreetorem Thats weird... are you using the Web Api login feature or the app-remote SDK to log in?

[2020-01-15 17:24] anscash commented on #194
Hi @mdelolmo
Sure. I am using Spotify 8.5.40.195

Greetings

[2020-01-15 17:49] paicolman commented on #188
Hi @mdelolmo

First of all: Thanks a lot for taking the time for my issue, really, really appreciate that!

I had two SHA signatures, one for development and one for the signed APK, and I also thought this could really be an issue, so I changed that, now I only habe one package name / SHA signature stored. What bugs me is, when spotify is not installed in my test phone, I can do the authorization

[2020-01-15 18:02] anscash opened #195 "Connection Reconnect Issue TRACK_UNAVAILABLE_OFFLINE"
Hi guys!
If i disable my internet, enable it again and  try to call the remoteSDK play()-Method, i get this error:
{"message":"Cannot play specified uri: [TRACK_UNAVAILABLE_OFFLINE]"}

I am listening to my internet connection state and only trigger the play()-method if i have internet again. The other internet-based services are working so the spotify (remote) does not recognize the now available

[2020-01-15 20:11] paicolman commented on #185
@gurpreetorem Yes, thats very similar to my problem mentioned [in this issue](https://github.com/spotify/android-sdk/issues/188) (which you know already). With uninstalled app I get the token, but it's worthless since I cannot play music, and with the app installed I get the same error...

[2020-01-16 03:06] florianhidayat commented on #191
@veronikapetruskova so is this an actual bug or is it designed like that? this wasn't the case before and it feels weird that you can't seek while player is in a paused state.

[2020-01-16 03:44] gurpreetorem commented on #185
@joseandroidengineer  am using web api https://api.spotify.com/v1

[2020-01-16 09:37] veronikapetruskova commented on #191
@florianhidayat  yes, it's a bug

[2020-01-16 11:00] mdelolmo commented on #185
@gurpreetorem Judging by what you are saying, it sounds like you added the APK SHA1 fingerprint of your debug configuration but not the SHA1 fingerprint of your publish configuration.
[In this article](https://developer.android.com/studio/publish/app-signing), they explain the different types of keys and how they are used in Android.

[2020-01-16 11:01] gurpreetorem commented on #185
@mdelolmo  already added both SHA1 fingerprint

[2020-01-16 11:51] mdelolmo commented on #185
@gurpreetorem Are you using your upload key signature or your publish key signature?

![appsigning_googleplayappsigningdiagram_2x](https://user-images.githubusercontent.com/2373889/72522844-df244980-385e-11ea-80d9-46878430ca2e.png)

[2020-01-16 12:01] gurpreetorem commented on #185
@mdelolmo i just create a SHA1 key with me jks file then i upload it to spotify developer account and its same with the play store

[2020-01-16 12:57] mdelolmo commented on #185
@gurpreetorem Yes, but there is an upload key and an "app signing key". The latter is the one with which the apk is ultimately published, and it's the one you should add to Spotify's developer centre.
Am I explaining myself? Is that the case?

[2020-01-16 12:58] mdelolmo commented on #188
Hi @paicolman
Is that fingerprint the one for the upload key or the "publishing key"?
All these terms are very well explained here: https://developer.android.com/studio/publish/app-signing

[2020-01-16 13:08] paicolman commented on #188
It was once the publishing key from google, but when I started having problems I changed it back to the development key you can generate within android studio... maybe that‘s bad?

[2020-01-17 03:32] gurpreetorem commented on #185
@mdelolmo  so where i can get that key which i need to upload to spotify developer center?

[2020-01-17 04:31] gurpreetorem commented on #185
@mdelolmo  Thanks man
its working i just copy SHA1 key from play store and add to spotify developer center and start the app again and its working fine
Thanks alot man.......... :)

[2020-01-17 05:56] jocmp opened #197 "Playing and enqueuing track URIs sets a spotify:meta:context URI in "Now Playing""
Issue found on 2019-01-16.

#### SDK Version:

* spotify-app-remote 0.7.0
* spotify auth 1.2.0

#### OS Version:
Android 10

#### Scope(s):
app-remote-control

#### Steps to reproduce:
1. Auth
2. Play track uri using PlayerApi#play
3. Enqueue track uris using PlayerApi#queue

#### Expected behaviour:
1. First track uri should play
2. Subsequent tracks should be enqueued

#### Actual behaviour:
1.

[2020-01-17 08:57] mdelolmo commented on #185
Glad it worked @gurpreetorem !

[2020-01-17 08:57] #185 closed, assigned to nobody

[2020-01-17 08:58] mdelolmo commented on #176
For reference, @MonkeyLLuffy you can try what is suggested on this issue:
https://github.com/spotify/android-sdk/issues/185

[2020-01-17 08:59] mdelolmo commented on #188
Yes @paicolman
That worked for another developer in
https://github.com/spotify/android-sdk/issues/185
I think it's worth a try

[2020-01-17 10:16] paicolman commented on #188
@mdelolmo  OK thanks! I'll try that out exactly as described and post my findings here...

[2020-01-17 10:54] tobika commented on #192
I'm also doing tests with this at the moment:

Starting the app.
Making sure it's connected to spotify.
Going to airplane mode.
Closing the App.
Starting again (within seconds), sometimes it works, sometimes I have the error mentioned in this issue.

[2020-01-17 12:52] tobika opened #198 "Playing offline - no sound and no error messages"
Issue found on 17/01/2020.

SDK Version: 0.7.0

OS Version: Android 9

Scope(s): ['streaming', 'user-read-birthdate', 'user-read-email', 'user-read-private', 'app-remote-control', 'user-read-playback-state', 'user-modify-playback-state']

Spotify Version: 8.5.40.195

#### Steps to reproduce:
1. Start app in airplane mode (connection to spotify app works)
2. Play album `spotify:album:4FxNfDSXqAg8N1

[2020-01-17 15:40] mdelolmo commented on #194
Hi @anscash
Can you try our new version of the auth-lib, to see if it makes a difference?
`implementation 'com.spotify.android:auth:1.2.2'`

[2020-01-17 15:55] anscash commented on #194
Hi @mdelolmo

Unfortunately not, the app still tries to
- connect through SingleSignOn -> not working
- browser-fallback: URL is being loaded but -> no "result" (result would be a successful redirect to my app)

Happy day! anscash

[2020-01-18 18:40] ehambuch commented on #194
Me, too. I cannot perform any SSO with the Android API anymore for some days. I changed to auth:1.2.2, where is a breaking API change. But this didn't help - same error occurs ("INVALID_CLIENT")
... I tried #185 and added also my publishing key (instead of the upload key) from the Android Developer Console / App Signature. In my local environment that seems to work. I will check whether it stills

[2020-01-19 12:07] drm87 commented on #69
I am struggeling with the same problem. When querying `getRecommendedItems`  I don't find the users library in there, even using the `DEFAULT` content type.
Is that depending on something? How do I just get the users library contents, like playlist, albmus, artists and podcasts? Are the static  `uri`s (like `spotify:space_item:mood-home-wrapper`) documented somewhere?

[2020-01-19 13:47] paicolman commented on #188
@mdelolmo  Good news is: Yes, it works, I uploaded a new bundle and promoted it to beta on google play console, then downloaded is as a tester and it does work, thanks a lot!

The problem is: How can I continue debugging or do updates? If I build a new version with corrections in android studio, I will get the same APP_INVALID issue again, right? So how can I continue development while keeping the

[2020-01-19 19:04] Nelson994 commented on #178
Ah, thanks for the reply. I already solved my issue with another method, but I think using this would be cleaner.

[2020-01-20 09:28] mdelolmo commented on #69
@masteralarm That is expected behaviour. That content is dynamic and customized for the user. Think of it as a simplified version of "Home" in the Spotify app.
For that reason, those uris like `spotify:space_item:mood-home-wrapper` are dynamic, not part of the API and subject to change.
When I wrote my reply, the default category included the user's library, which is no longer the case.

[2020-01-20 09:31] mdelolmo commented on #194
Hi @ehambuch
I don't think your error is the same one as the one @anscash is having. The `INVALID_CLIENT` error is due to a configuration error.
Maybe it's better to discuss your error on https://github.com/spotify/android-sdk/issues/185, which seems more related.

[2020-01-20 09:32] mdelolmo commented on #198
Hi @tobika
We are working on fixing this issue.

Thanks for your patience.

[2020-01-21 11:55] CG-Gilbertus commented on #191
@veronikapetruskova is this a bug from the app or from the SDK??

[2020-01-21 17:04] anscash commented on #195
Edit: This error does not only occurres when i am reconnecting a connection.
This error also sometimes happen if i try to play a track with a semi-good internet connection (still LTE!)

[2020-01-22 06:04] paicolman commented on #185
@gurpreetorem I solved my problem with @mdelolmo help, but I am still stuck when I want to continue debugging. My local version will have another signature than the one in Google Play Console, so the only way to develop is to upload every version and I loose debugging capabilities. Maybe you have some tips?

[2020-01-22 06:34] gurpreetorem commented on #185
@paicolman i have used all three SHA1 like this
1st one is for debug
2nd one is from signed key
3rd one is from play store
![Screenshot_1](https://user-images.githubusercontent.com/59436494/72870848-45054b00-3d0f-11ea-8ddd-9d788764059b.png)

[2020-01-22 08:21] paicolman commented on #185
@gurpreetorem Thanks! Tried that, but no luck...
Some questions (sorry To bother you so much, you might be the only one able to help me...)
same package name?
The debug one is generated with the standard android studio key, right? and the second one with upload key?
Maybe the order of appearance is important, I have the debug one last and the playstore first...

[2020-01-22 08:30] #178 closed, assigned to nobody

[2020-01-22 08:34] mdelolmo commented on #185
Hi @paicolman
The order should not matter, but maybe I would start by creating a different package name for your debug builds and upload its key signature, so you'd have two entries in the developer console.

But, like @gurpreetorem pointed out you may have up to three entries, one for debug, one for play-store key and one for the upload key.

I understand this APK keys setup is a little bit confu

[2020-01-22 08:36] mdelolmo commented on #188
Hi @paicolman
The order should not matter, but maybe I would start by creating a different package name for your debug builds and upload its key signature, so you'd have two entries in the developer console.

But, like [you can see here](https://github.com/spotify/android-sdk/issues/185#issuecomment-577030463) you may have up to three entries, one for debug, one for play-store key and one for the

[2020-01-22 08:36] mdelolmo commented on #188
Related topics:
https://github.com/spotify/android-sdk/issues/185
https://github.com/spotify/android-sdk/issues/176

[2020-01-22 09:02] gurpreetorem commented on #185
@paicolman just add your debug sha1 key for local test and play store sha1 key for live app
one more thing ion play store will can see there are 2 sha1 keys
you have to use the second one in the bottom if you can see

[2020-01-22 09:12] mdelolmo commented on #195
Related:
https://github.com/spotify/android-sdk/issues/198
We're working on improving this behaviour.

[2020-01-23 09:02] IuraGaitur opened #200 "User cannot go back from Spotify Login Activity, only using hardware buttons"
#### SDK Version:
Spotify-app-remote 0.6.2
Spotify-auth-release-1.1.0

#### OS Version: All

#### Scope(s):
User should be able to go back from spotify activity without hardware button

#### Steps to reproduce:
1. Call login activity in order to login into Spotify
2. Using code:
[code]
#### Expected behaviour:
User have a top navigation bar with back button

#### Actual behaviour:
User cannot go b

[2020-01-23 09:38] mdelolmo commented on #187
Hi, at the moment `AuthorizationClient.clearCookies()` will operate only on the webview flow. If the Spotify app is installed and logged in, it has no effect.

We can't add functionality to log a user out from the Spotify app, but maybe we can add an option to the SDK to enforce the WebView auth flow.

@supergoudvis112  Would that be helpful?

[2020-01-24 13:44] mudassar6969 opened #201 "No option available in the SDK to change Spotify Player Volume"
There is currently no option in the SDK to change the Spotify player volume although there is a web API available to change the volume. I'm wondering when the volume change feature will be available with the Remote SDK.

[2020-01-24 14:40] anscash commented on #201
Thumb up! I would love to use this feature!

[2020-01-25 13:02] paicolman commented on #188
@mdelolmo Thanks, I have read the article already several times, tried all possible stuff, but nothing helped, until about 5 glorious minutes ago!!

Problem was: During all the trying here and there, I added the following in my gradle app script:
`        debug { `
`            minifyEnabled false`
`            applicationIdSuffix ".debug" //THIS IS THE BAD GUY!!`
 `           debuggable true`
`

[2020-01-25 13:02] #188 closed, assigned to mdelolmo

[2020-01-27 17:08] terrykhm opened #202 "com.spotify.base.annotations.Nullable Missing"
Issue found on 1/27/20

#### SDK Version: 0.7.0.0

I'm just simply trying to build the app and I'm getting an error saying ReleaseSpotifyLocator and a few other classes cannot find the NotNull and Nullable classes from `com.spotify.base.annotations`. In the decompiled jar, I'm seeing that these classes don't exist. Just for context, I pulled in both the app remote and auth libraries into my code.

[2020-01-28 10:28] mdelolmo commented on #201
Hi, the Spotify app uses the OS volume levels, so you can use [AudioManager](https://developer.android.com/reference/android/media/AudioManager) to change the media volume from within your app.

[2020-01-28 14:32] mdelolmo commented on #202
Hi,
I am afraid that we might have used our internal nullability annotations to the library, accidentally of course.

But just to understand the priority, are those build errors/warnings preventing you from building your app?

[2020-01-28 14:36] mdelolmo commented on #176
Closing due to inactivity

[2020-01-28 14:36] #176 closed, assigned to mdelolmo

[2020-01-28 14:37] #167 closed, assigned to nobody

[2020-01-28 16:08] terrykhm commented on #202
This is pretty low priority and not blocking me from building. Just simply wanted to flag!

[2020-01-28 19:05] ambujbansal opened #203 "Query: Search by artist album or track name and launch and play on Spotify app on Android"
Issue found on *DATE*. Jan 28, 2020

#### SDK Version:

#### OS Version:

#### Scope(s):

#### Steps to reproduce:
1.
2.

#### Expected behaviour:
I am developing a voice assistant application on Android.

I am trying to search and play the media on Spotify app using the Android common Intent INTENT_ACTION_MEDIA_PLAY_FROM_SEARCH filled with metadata required to search.

Spotify app shows the searc

[2020-01-29 08:45] mdelolmo commented on #203
Hi @ambujbansal
We don't have a method in the SDK that does that with one call.

To do something like that, you'd have to use [Spotify's Web API](https://developer.spotify.com/documentation/web-api/reference/search/search/) and save the response's  property `uri` of the item you want to play.
With that `uri` value, then you can use the Spotify Android SDK to play.

[2020-01-29 08:45] #203 closed, assigned to nobody

[2020-01-29 10:32] tobika commented on #9
I also see this still happening from time to time (via sentry error logging)
[code]
I recently started using the remote sdk a swell and had to add the scope for using it to my authorization, is it possible that this is related for users that were connected to the app before with less scopes?

Using auth 1.1.0 and spotify app remote 0.7.0

[2020-01-29 10:48] mdelolmo commented on #9
Hi @tobika
That error is sent when for various reasons we can't reach our spotify accounts service.
That can be due to an outage on our side (rare, but possible) or other connectivity related issues, like wifis behind a paywall and so.
Perhaps we can improve the messaging of the error to allow you to treat it more gracefully.

Best,
Manuel

[2020-01-29 12:23] #187 closed, assigned to mdelolmo

[2020-01-29 12:55] supergoudvis116 commented on #187
Hi,

Sorry, I completely missed your reply. Yes, please add the options to enforce the Webview, I want to be able to switch from accounts on my app. My app will run on a device where multiple users can be authenticated, I want to be able to log out so another user can log in.

[2020-01-29 13:11] mdelolmo commented on #202
Thanks for flagging this! The fix will be included in the app-remote 7.0.1 release.

[2020-01-29 13:11] #202 closed, assigned to mdelolmo

[2020-01-29 19:52] AntoineGagnon commented on #12
Any news about this? You're showing the benefits of Single sign-on in the documentation and it doesn't actually work

[2020-01-29 20:20] AntoineGagnon commented on #111
@gabrielittner Have you tried defining your own JsonMapper subclass that uses Moshi and pass it with .setJsonMapper ?

[2020-01-29 21:02] gabrielittner commented on #111
Isn't that a Jackson API, requiring to have a dependency on it?

[2020-01-29 22:01] AntoineGagnon commented on #111
It seems to be part of the Spotify SDK, and only implements two functions that go from String -> Json object

[2020-01-29 22:22] gabrielittner commented on #111
Then it might work. I'll take a deeper look, I wasn't able to find it in the javadocs when checking earlier.

[2020-01-31 05:52] Mcluky commented on #12
@arirawr I really think the lable "documentation" seems to be wrong here since looking at the exposed android api, there is no way to use your own access token.

[2020-01-31 08:41] arirawr commented on #12
@mcluky I'm sorry but I'm no longer at Spotify and can't help you with this.

[2020-01-31 09:17] anscash opened #204 "the play/onSuccess-Callback is thrown before the songs starts to play"
Hi guys,

i found out this: If the internet connection is quite bad, the spotify player sometimes looks like i'ts playing the song (pause icon instead of play icon in the notification item) altough it was not started yet. A few seconds later it starts to playing the song, probably when the first buffering was finished..
This is the base situation in the Spotify APP.

My problem is now, if i am usi

[2020-01-31 09:18] anscash commented on #154
This would be great yes!

[2020-01-31 09:59] tobika commented on #123
Hi @mdelolmo
so it is a legal problem not to change the original tracks?
When it comes to audio books (that are often albums/compilations) a different playback speed could be interesting, but I get it if it's not allowed.

[2020-01-31 13:14] mdelolmo commented on #123
Hi @tobika
I don't have much detailed information, but essentially yes, it's a licensing issue.

[2020-02-03 16:23] IuraGaitur commented on #75
@mdelolmo  could you provide code with logout in an example?

[2020-02-04 12:02] supergoudvis116 commented on #187
@mdelolmo

Any updates on this? Should I open a new issue regarding focing to start the loginflow using the webview instead of the app? I want to catch the token which is then used by the appremote and use it for all services of Spotify instead of having to login twice (webapi and spotify app remote)

[2020-02-05 21:58] gkguru opened #206 "Accuracy of Seek"
Suppose I provide an offset in ms, does the player try to play from this exact position or does it start from a nearby block/chunk start point?

[2020-02-06 04:56] hufman opened #207 "How to get anonymous access token for Web API usage?"
I've configured my app to authenticate with the Spotify Remote SDK. How can I use this authorization to access the Web API, such as the [Search endpoint](https://developer.spotify.com/documentation/web-api/reference/search/search/)?

I would prefer to use the Remote SDK instead of Auth SDK because I can run it from a background Service instead of an Activity, and the Search endpoint doesn't requir

[2020-02-06 12:29] mdelolmo commented on #207
Hi @hufman

I am afraid the app-remote SDK won't give you a token.

I must say this seems to be a recurring ask by the community, and it's also how our iOS SDK work, maybe we should consider that feature.

In addition, like you pointed out, our auth-lib is designed to be run from within an activity so we can display the user authorization dialog, in other words, it's not designed with background s

[2020-02-06 12:29] #207 closed, assigned to nobody

[2020-02-06 15:19] hufman commented on #207
Thank you for your quick response!
I understand that any authentication flow that requires the Client Secret is not supported on a mobile app, otherwise I would just use the Client Credentials flow directly (#56).
I look forward to a future version that provides this functionality.

[2020-02-06 16:37] mdelolmo commented on #207
Hi @hufman
I don't think we make restrictions about mobile apps using the authorization code method, but of course we recommend you to ensure that the client secret is securely stored. I'm just thinking out loud now, but maybe getting the secret through an https micro-service?

[2020-02-08 02:02] aguzmanballen commented on #123
Wait, really? So apps like "Amazing Slow Downer" (https://youtu.be/qoI11hEww5k?t=54) are no longer going to be able to actually slow the pitch down anymore?

[2020-02-08 06:17] JakeHao opened #208 "connect success but not callback"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.
2020-02-08
#### SDK Version:
spotify-app-remote-release-0.7.0.aar
#### OS Version:
android 10
#### Scope(s):

#### Steps to reproduce:
1.SpotifyAppRem

[2020-02-10 00:36] koooge commented on #139
same here with spotify-app-remote-release-0.7.0.aar

[code]

[2020-02-10 21:28] bgermann opened #209 "Latest versions are not published on jCenter anymore."
Issue found on *Feb 22, 2020*.

#### SDK Version:
Auth 1.2.1, 1.2.2, 1.2.3
#### Scope(s):
Published Maven artifact
#### Steps to reproduce:
1. Import `implementation 'com.spotify.android:auth:1.2.3'` in a gradle project according to the Auth README
2. Build the gradle project.

#### Expected behaviour:
The gradle build should be sucessful.

#### Actual behaviour:
The gradle build fails because the

[2020-02-12 10:56] veronikapetruskova commented on #208
Hi @JakeHao  I don't understand exactly, what's wrong here. From what you've wrote it seems that you are able to connect to AppRemote. It's up to you what you want to do next.

[2020-02-12 12:53] supergoudvis116 opened #210 "Force login webview even though app is installed"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.
12-2-2020

#### SDK Version:
1.2.0

#### OS Version:
Android

#### Scope(s):
irrelevant

In issue #187 you were talking about a way to keep the access

[2020-02-13 10:15] abdulhaseeb4239 commented on #201
Totally agree. Spotify should provide this feature as we are currently working on a sound therapy app where we need to play two audio streams at the same time.

[2020-02-15 18:47] dimitris-athanasiou commented on #143
Could you please leave a comment on why this issue was closed? Was the issue resolved?

[2020-02-15 18:55] hufman commented on #10
This inability to view the current context's ListItems interacts poorly with the #65 ability to skip to a specific index within an context, please reconsider.

[2020-02-16 19:06] avgasmarco opened #211 "Song doesn't restart via shortcut if its first one of the playlist"
Issue found on 15/02/2020.

#### SDK Version: Android

#### OS Version: 9

#### Steps to reproduce/behaviour:
If I am listening the first song of a playlist, screen off, and I want to restart it again via shortcut (long press volume "-" button) it does not restart again. Nothing happens, song continue to play.
By the second song onwards in the playlist, restart shortcut works perfectly.

[2020-02-18 07:57] florianhidayat commented on #191
any update on this?

[2020-02-18 10:17] bhavifm opened #212 "Artist profile information not getting from api"
*Artist profile information not getting from api. Response{protocol=h2, code=400, message=, url=https://api.spotify.com/v1/artists/****7vxl9s3awf7hz4rr*****}*

Issue found on  *February 18th 2020.*.

#### SDK Version:  implementation 'com.spotify.android:auth:1.1.0'

#### OS Version: 9.0

#### Scope(s): Not require

#### Steps to reproduce:

1. Authenticate user - get Oauth Token
2. Call GET /v1/m

[2020-02-18 12:57] supergoudvis116 commented on #208
He wants the

`     @Override
                public void onConnected(SpotifyAppRemote spotifyAppRemote) {`

To be triggered which is according to the logs not happening. There is no issue (at least the failed callback is not used) but there is no success either, even though the connection is created.

[2020-02-18 21:37] Jensssen opened #213 "Create Spotify Playlist"
FEATURE REQUEST:
In contrast to the Web-API, it seems that it is not possible to create custom Spotify Playlists with the current android sdk?! It would be really great for us being able to create Playlists and add/remove songs from it also with the anroid-sdk.
Is this feature planed for the future?
Cheers

[2020-02-19 09:51] veronikapetruskova commented on #191
Hi @florianhidayat we're working on a fix for this issue is Spotify app so this will not require updating the SDK

[2020-02-20 06:56] JakeHao commented on #208
I got to the root cause of the problem,I didn't add the scope "app-remote-control" in login

Thanks

[2020-02-20 06:56] #208 closed, assigned to nobody

[2020-02-20 09:28] veronikapetruskova commented on #191
UPDATE: This issue will be fixed from Spotify app version **8.5.47**

[2020-02-20 09:28] #191 closed, assigned to nobody

[2020-02-20 15:54] sergiob8 opened #214 "Bug on "Showing Songs for XXXX" section playlist"
Issue found on 2019-07-01.

#### SDK Version: 8.5.45.620 and 8.4.94.817 at least

#### OS Version: Android and firefox

#### Scope(s): "Showing Songs for XXXX" section / "See all songs"

#### Steps to reproduce:
1. Search anything
2. Get in "See all songs"
3. Play a song
4. Select cicle or random reproduction mode
5. Move to next song
6. Start to play the same song over and over (cry)

#### Expect

[2020-02-21 17:10] veronikapetruskova commented on #214
Hi @sergiob8 , it seems your issue is related to Spotify app, but this Android SDK repository is for developers that want their application to interact with the Spotify app. If you want to report some issues with the Spotify app, you can do it through the Spotify app: go to Settings -> Report an Issue

[2020-02-21 17:10] #214 closed, assigned to nobody

[2020-02-21 17:15] veronikapetruskova commented on #212
Hi @bhavifm , are you having problems with Spotify Web API or Auth library? This repository handles issues only issues for Android SDK, not Web API.

[2020-02-21 17:16] veronikapetruskova commented on #211
Hi @avgasmarco , it seems your issue is related to Spotify app, but this Android SDK repository is for developers that want their application to interact with the Spotify app. If you want to report some issues with the Spotify app, you can do it through the Spotify app: go to Settings -> Report an Issue

[2020-02-21 17:16] #211 closed, assigned to nobody

[2020-02-24 06:14] bhavifm commented on #212
@veronikapetruskova, thanks for the quick response.

SDK Version: implementation 'com.spotify.android:auth:1.1.0'

As already mentioned i am using above sdk for authentication. once authorise i am hitting url=https://api.spotify.com/v1/artists/****7vxl9s3awf7hz4rr*****

Here is my question how do i get artist id{ **sporify id**} to fetch artist information or is there a way to get artist id(sporif

[2020-02-24 07:17] veronikapetruskova commented on #209
Hi @bgermann I've tried to use auth lib `1.2.3` in multiple projects and it worked fine. Make sure you include this in your build.gradle file.
[code]
If you still have problems, you could download auth lib aar file from [here](https://github.com/spotify/android-sdk/releases/tag/v7.0.0-appremote_v1.2.3-auth) and add it into your project.

[2020-02-24 07:30] veronikapetruskova commented on #212
you can get artist uri for the current track when you call [`PlayerApi.getPlayerState()`](https://spotify.github.io/android-sdk/app-remote-lib/docs/). PlayerState contains information about track in `Track` object including artists.

[2020-02-24 07:37] bhavifm commented on #212
@veronikapetruskova Thanks ,

In order to get normal user account information:
Procedure:
1 Authenticated user using Spotify SDK
2. Get the token
3. Created a request :
 Request request = new Request.Builder()
                .url("https://api.spotify.com/v1/me")
                .addHeader("Authorization", "Bearer " + mAccessToken)
                .build();
4. In response will get user response.

[2020-02-24 08:15] veronikapetruskova commented on #212
no, there is no way to fetch information about user accounts through SDK. It is only for controlling playback. You should look at [Web API](https://developer.spotify.com/documentation/web-api/) for that. But I'm not completely familiar with it.

[2020-02-24 08:53] bhavifm commented on #212
ok thanks

[2020-02-24 08:55] #212 closed, assigned to nobody

[2020-02-26 15:41] heyjamesknight commented on #31
Any progress here? It's super difficult to develop anything involving queuing without this.

[2020-02-27 10:28] tobika opened #215 "skipToIndex playback fails if offset is over 100 (large audiobook albums)"
Issue found on 25/02/2020.

#### SDK Version:
spotify-app-remote-release-0.7.0

#### OS Version:
android 9 & spotify 8.5.46.859

#### Scope(s):
[code]

#### Steps to reproduce:
1. play spotify:album:15MrcBLTKVOFcDq33BOUNQ with offset 499

#### Expected behaviour:
Plays track 499 of the album
#### Actual behaviour:
Player state with
[code]

For info, the same problem exists in the web playback api,

[2020-02-28 03:49] anandhukalesh opened #216 "Spotify Login Pop Up issue"
I have integrated Spotify Remote SDK into our application.We used spotify's Web UI for authentication.One of our user reported that login pop is not displayed on the screen.It is displayed outside the screen.Could you please help me to resolve this?

[2020-03-01 02:58] JakeHao opened #217 "auth fail"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.
2020-02-28

#### SDK Version:
spotify-auth-release-1.2.1.aar

#### OS Version:
android 5.0
#### Scope(s):
"user-read-playback-state",
"user-modify-pla

[2020-03-02 08:38] tkirshboim opened #218 "Docs: Authentication guide refers to non-existent AuthenticationRequest class"
Issue found on 2020-03-02.
SDK Version: com.spotify.android:auth:1.2.3
OS Version: Irrelevant (project doesn't compile with the documentation linked below)
Scope(s): Outdated documentation

Steps to reproduce:

1. Go to [Android SDK Authentication Guide](https://developer.spotify.com/documentation/android/guides/android-authentication/) and scroll down to section **Logging In**.
2. The documentati

[2020-03-02 10:23] tobika commented on #215
This seems to be resolved since the last Spotify Update 8.5.47.1006

Thanks a lot for this super fast fix, or was it fixed by accident? 😂

[2020-03-02 10:23] #215 closed, assigned to nobody

[2020-03-03 19:14] flaan4me commented on #213
Hi

[2020-03-04 16:03] ghost opened #219 "`CouldNotFindSpotifyApp` exception being thrown when Spotify App is installed"
Issue found on `March 2, 2020`.

#### SDK Version:
- `Spotify Android SDK v7.0.0`;
- `AppRemote v1.2.3 Auth`;
- `Spotify app version: v8.5.47.1006`.

#### OS Version:
Android 4.4+

#### Scope(s):
- `user-read-private`;
- `user-read-playback-state`;
- `user-modify-playback-state`;
- `user-read-currently-playing`;
- `app-remote-control`.

#### Steps to reproduce:
1. have the Spotify app installed an

[2020-03-04 19:36] Saik19922 opened #220 "Is there a way to refresh Single Sign-On?"
I've been doing stuff with the Spotify API for quite a bit now. I am now making an Android App.

A very weird thing I've encountered is that signing in via auth SDK only gives me a token/code and no refresh token. How exactly would I silently refresh authentication if my initial auth token expired without triggering a login view?

I'd love for a user to just login once and then only touch the conn

[2020-03-06 11:32] Saik19922 commented on #220
Going to close this myself. Here's the answer:

Use the auth lib to grab a code instead of a token. Host a server according to Authorization Code Grant specifications so grab your access and refresh token with that code and grab a new access token by refresh token when you need it (I'll explain how I validate it below).

Make sure you setup your backend server the EXACT same way as the credentials

[2020-03-06 11:32] #220 closed, assigned to nobody

[2020-03-07 06:33] matejdro commented on #19
@mdelolmo I just experienced this issue on Spotify 8.5.41.531.

You've done good job fixing it (I've not experienced it since), but it looks like there is still very small chance of occuring it.

I had very spotty network connection when this happened, so this could be the contributing factor (but all needed playlist were downloaded).

[2020-03-10 07:52] frederikvr opened #221 "Commercial license"
Hi guys,

Sorry for abusing this platform to ask you this, I have built a POC app around the android sdk and would like to know if I can start to try and sell it on the Play Store.

I've followed the guidelines and Terms of Service so I think I should be good.
In January I created a Commercial Use request via the Dashboard but I've received no response, not even a confirmation email confirming the

[2020-03-15 14:27] rohit-ganapathy commented on #158
Hi @mdelolmo I as well was wondering when the play track from anywhere functionality would go live

[2020-03-16 23:32] romariomkk commented on #49
I had a similar callback URI specified on the dashboard and in the app, had my SHA1 specified on the dashboard - everything was working fine, yet at some moment the app started receiving only AUTHENTICATION_SERVICE_UNKNOWN_ERROR. The solution that helped me out was the removal of all CAPS letters from my callback URI,
i.e. not `Myapp://callback`, but `myapp://callback`

[2020-03-23 09:22] ghost commented on #219
Hi o/

Is Spotify still giving support to this repository/sdk?

[2020-03-23 11:28] magnussjodin opened #223 "Wrong next title in shuffled album playlist, when jumping to previous track"
Issue found on 2020-03-23.

#### SDK Version:

#### OS Version: 9

#### Scope(s): Album playlist

#### Steps to reproduce:
1. Play an album with Shuffle option
2. Enter the playlist of this album (showing "Now playing" & "Next from...")
3. Press previous track twice to go to previous album track played in this Shuffle

#### Expected behaviour:
The first row of the "Next from:" part shall show the

[2020-03-29 16:29] Jensssen opened #224 "SpotifyConnectionTerminatedException - App looses Spotify connection after some time"
In our app and also in the app-remote-sample app, provided by Spotify, a SpotifyConnectionTerminatedException is thrown approx. 5 minutes after app start.
It seems that the app disconnects from Spotify automatically after some time and you have to connect again.
What triggers this Exception?
Why is it triggered?
How can we prevent such a "random" connection loss?

Issue found on 29.03.2020
Spotify

[2020-03-30 12:51] developerRio opened #225 "Greetings Team, I'm sort of fetching user data including public & private playlist made by spotify user, but I couldn't find any kind of list in response, kindly direct me through it !"
private fun getAuthenticationRequest(type: AuthorizationResponse.Type): AuthorizationRequest {
        return AuthorizationRequest.Builder(
            getString(R.string.client_id),
            type,
            getRedirectUri(this).toString()
        )
            .setShowDialog(false)
            .setScopes(
                arrayOf(
                    "user-read-email",
                    "us

[2020-03-31 06:19] developerRio commented on #225
Nevermind, I resolved it !

[2020-03-31 06:19] #225 closed, assigned to nobody

[2020-04-04 11:18] brim-borium opened #226 "Too many logs: 'Unable to resolve ***'"
Issue found on *28.04.2020*.

#### SDK Version:
spotify-app-remote-release-0.7.0
#### OS Version:
Android
#### Scope(s):
Using the android sdk for a flutter package
#### Steps to reproduce:
1. Run the app with the package

#### Expected behaviour:
Log is not spammed

#### Actual behaviour:
Log gets spammed

#### Log sample
[code]

[2020-04-06 08:10] JakeHao commented on #224
I also encountered the same problem，but OnFailure is triggered every 10 minutes...

the excetpion：
`com.spotify.android.appremote.api.error.SpotifyConnectionTerminatedException
	at com.spotify.android.appremote.api.LocalConnector$1.lambda$onConnected$0(LocalConnector.java:88)
	at com.spotify.android.appremote.api.-$$Lambda$LocalConnector$1$IbZLttZmA0yUOwLQJq9O0FFxzoA.onConnectionTerminated(lambda)

[2020-04-06 17:30] vdaele opened #227 "Combine App Remote and Authentication Library"
In my Android app, I want to visualize the audio beats.
By using the [Quick Start](https://developer.spotify.com/documentation/android/quick-start/) I can get authorized and get notifications for the currently playing song which is a good starting point already.

But I see no API (yet?) to access the audio-analysis (to get info on the beats).  So I guess I have to use the [WEB api](https://develop

[2020-04-09 04:06] jarjarfinks commented on #31
Same, developing with queue is impossible without this feature. Are there any plans to make this happen soon?

[2020-04-10 16:13] vdaele commented on #224
I have the same issue after 10'.  Should we renew the connection beforehand?

[2020-04-12 09:37] Arutyun2312 opened #228 "SpotifyAppRemote is connected and is able to pause/resume, but unable to play chosen song via URI"
Issue found on *11.04.2020*.

#### SDK Version:
spotify-app-remote-release-0.7.0.aar
#### OS Version:
Android:10
#### Scope(s):
None
#### Steps to reproduce:
1.  Use the following singleton:
[code]
2. Call this in MainActivity to connect and play a song when connected
[code]

#### Expected behaviour:
Expect isConnected = true, spotify foreground service notification to appear and/or hear music
###

[2020-04-13 13:29] eventsnapp opened #229 "Integrate SPOTIFY for Commercial APP like Stories on Instagram"
Dear Sir or Madam,

we would like to use Spotify like INSTAGRAM for our own APP. This means that stories should be able to be stored with music. We have just created an client. How is something like that possible, how is that more procedural. With the request for feedback.

*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If yo

[2020-04-14 06:08] dovahkinggg opened #230 "Sign in issue"
I have an issue on Spotify 1 and a half year now. On my old phone it was keeping telling me "you are out of connection" and I couldn't do anything except listening the downloaded songs. When I changed phone this kept happening so I decided to reinstall spotify. After reinstalling for 3 days now I can't sing in neither with Facebook nor with my email and password. What can I do?
Thanks

[2020-04-14 06:55] romariomkk opened #231 "Connection not established with 'Result was not delivered on time'"
@mdelolmo

Issue found on *DATE*.
10 April 2020
#### SDK Version:
AppRemote 0.7.0
Auth 1.2.3
#### OS Version:
Android 9 Motorola one vision (XT1970-3)
#### Scope(s):

#### Steps to reproduce:
1. Receiving code from LoginActivity of Spotify
2. Connecting to SpotifyAppRemote
2. After 30 seconds of waiting the SpotifyAppRemoteException arises.

#### Expected behaviour:
Connection is established succe

[2020-04-14 17:14] Arutyun2312 commented on #228
Solved it by buying spotify Premium

[2020-04-14 17:14] #228 closed, assigned to nobody

[2020-04-15 02:52] Sanyiapilota opened #232 "cannot disable android popup icon"
![Screenshot_20200415-042137_One UI Home](https://user-images.githubusercontent.com/63691313/79293022-df21fd00-7ed2-11ea-8854-054ae37c040f.jpg)

Issue found on 2020.04.15.

#### Spotify Version: latest updated, premium

#### OS Version: printscreened

#### Scope(s): i like that i have the controls in the notification area (green on the picture), but i dont want the popup icon on the screen (red on

[2020-04-15 08:34] romariomkk commented on #227
@vdaele use both libraries, request token from Auth library, then `SpotifyAppRemote.connect()`, and afterward request for the audio analysis with the token via WebAPI.
Be aware that I have got a case when a connection to Spotify's `SpotifyAppRemote` doesn't happen after 30 seconds of waiting. I have described it in my issue:
https://github.com/spotify/android-sdk/issues/231

Subscription to `Playe

[2020-04-15 10:16] vdaele commented on #227
@romariomkk Thanks for your feedback and for the pointer to #231 !
This seems to work indeed.
The only nuissance is that my ConnectionListener fails with a SpotifyConnectionTerminatedException after 10' (see #224).  I'll investigate whether I can work around this.

[2020-04-15 10:18] vdaele commented on #230
@dovahkinggg Maybe it is better to ask your question here: https://community.spotify.com/t5/Android/bd-p/spotifyandroid

[2020-04-15 10:20] romariomkk commented on #227
@vdaele this is a common behavior with iOS platform. If no interaction takes place, then the IPC and Spotify's service disconnects and unbinds, with a detail that on iOS it takes place in 1 minute. I request the user to re-authenticate.

[2020-04-15 15:18] vixez opened #233 "SpotifyConnectionTerminatedException after several minutes"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *15/04/2020*.

#### SDK Version:
Remote: 0.7.0
Auth: 1.2.3

#### OS Version:
Android 10 (OnePlus 7 Pro)

#### Steps to reproduce:
1. Log into the app
2. The S

[2020-04-15 18:18] OmkarSsawant opened #234 "Spotify android sdk playerState.playbackPosition not updating"
Issue found on 15/04/2020

#### SDK Version:
16+

#### Scope(s):
streaming
#### Steps to reproduce:

1.just play playlist
2. In onEvent(PlayerState event) callback

#### Expected behaviour:
     Expected to update playerState.playbackPosition
#### Actual behaviour:
   Not - updating playerState.playbackPosition

###### small snippet

[code]

[2020-04-16 10:31] #234 closed, assigned to nobody

[2020-04-16 17:17] tobika opened #235 "some seconds missing and track change and random tracks skipped (on short tracks)"
Issue found on 16/04/2020 (but really already some months).

#### SDK Version:
spotify-app-remote-release-0.7.0 (and also web playback sdk)

#### OS Version:
android 9 & spotify 8.5.46.859 (until latest)

#### Scope(s):
[code]

#### Steps to reproduce:
1. play album with skipToIndex
for example spotify:album:1TnHD2kHRBazm96fiZGgBL
it mainly happens with very short tracks that are usually used now

[2020-04-18 13:57] altanozlu opened #236 "do we have to use sdk"
Hi currently we have an app which we get rate limit all the time and it's effects our users.
We want to get player state in app but we can't use just sdk because we have web api that we use in our servers for checking other things.
Can we implement app remote logic ourself ? Is it forbidden ?

[2020-04-19 20:26] sinan-kalkan opened #237 "Same Player State is emitted multiple times on subscription"
Player state subscription always emits same events multiple times to my app.
Please see the logs:

`2020-04-19 22:23:30.361 14515-14515/com.app.sini.sinify D/SPOTIFY_APP_REMOTE: Message from Spotify: [36,10,43,{},[],{"context_uri":"spotify:playlist:37i9dQZF1DX2sUQwD7tbmL","track":{"artist":{"name":"Still Woozy","type":"artist","uri":"spotify:artist:4iMO20EPodreIaEl8qW66y"},"artists":[{"name":"Stil

[2020-04-21 03:30] AjBoogie commented on #218
were you able to successfully complete that guide?

[2020-04-21 05:41] chiragpatel3131 opened #238 "Device hitting issue"
Issue found on *DATE*. 21st April 2020

#### SDK Version: spotify-app-remote-release-0.7.0

#### OS Version: Android 8.0.0

#### Scope(s): Device Hitting Issue

#### Steps to reproduce:
1.
2.

#### Expected behaviour: Should play song without hitting issue

#### Actual behaviour: Device hits lot.

Code snippet :

[2020-04-21 11:07] DanielTonks opened #239 "INVALID_APP_ID when using lowercase SHA-1 fingerprint"
Issue found on 21/04/20.

#### SDK Version: 1.1.0

#### OS Version: 10

#### Scope(s): user-top-read, user-read-recently-played, user-library-read

#### Steps to reproduce:
1.  I added my SHA-1 fingerprint to the Spotify Dashboard. It used lowercase characters (e.g 29:ce:c8...)
2. AuthenticationClient.openLoginActivity resulted in failure with INVALID_APP_ID
3. I added the SHA-1 fingerprint again,

[2020-04-22 10:41] tkirshboim commented on #218
@AjBoogie The [example code](https://github.com/spotify/android-sdk/blob/cf06a97e2a707fadf1f70e7e570145bad71476af/auth-sample/src/main/java/com/spotify/sdk/android/authentication/sample/MainActivity.java) helped.

[2020-04-22 11:12] AjBoogie commented on #218
@tkirshboim i sent you an email at the one listed on your github profile.

[2020-04-22 12:55] veronikapetruskova commented on #239
Hi @DanielTonks thank you for letting us know about this. I've shared the issue with the team. Since this issue is not an issue in Android SDK itself, there will be no SDK update required.

[2020-04-22 12:55] #239 closed, assigned to nobody

[2020-04-22 12:59] veronikapetruskova commented on #238
Hi @champrocks3190 can you explain a bit more what is the issue and also add some logs? Are you having trouble connecting through AppRemote?

[2020-04-22 13:43] veronikapetruskova commented on #236
Hi @altanozlu have you looked at Spotify Web API? https://developer.spotify.com/documentation/web-api/
Maybe it fits your needs.

[2020-04-23 07:46] agrabimantara opened #240 "Wearable (wear OS) app auth problem"
Hi,
Currently, I develop a standalone wearable app and get a problem with the authentication of the API.
Is there another auth library to wear OS? because I can`t pass the login and authentification to the web browser on the phone.

[2020-04-23 19:44] chiragpatel3131 commented on #238
Hello  veronikapetruskova thank you for instant response , i think it's not related to Spotify , as i am doing lot of networking stuff  and image processing it leads to hit device may be , thank you .
Im closing the issue.

[2020-04-23 19:44] #238 closed, assigned to nobody

[2020-04-23 19:52] chiragpatel3131 opened #241 "Spotify disconnect behaviour"
Issue found on DATE. 21st April 2020
SDK Version: spotify-app-remote-release-0.7.0
OS Version: Android 8.0.0
Scope(s): Device Hitting Issue
Steps to reproduce:
Expected behaviour : Song should stop on disconnect and Notification widget should hide
Actual behaviour : Sound continues to play even after disconnect from Spotify remote

[2020-04-24 18:06] chiragpatel3131 opened #242 "Not working with Published Android Application"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*. 24 APRIL

#### SDK Version:  0.7.0

#### OS Version:  Android 8

#### Scope(s): API request fails

#### Steps to reproduce:
1.  works with debug apk
2

[2020-04-24 18:08] chiragpatel3131 commented on #242
I an using Remote SDK for Andorid

[2020-04-24 18:44] chiragpatel3131 commented on #242
After 3 hours i found that , Its case sensitive for Android packages .  need to put SHA1 IN CAPITAL AS IT IS .

[2020-04-24 18:44] #242 closed, assigned to nobody

[2020-04-25 16:29] LeviHassel commented on #221
I'm in the same position. I submitted a Commercial Integration Application over a year ago and still haven't heard back. I've tried reaching out to https://twitter.com/SpotifyPlatform and Spotify Support multiple times with no luck. This is blocking me from being able to release the app I'm working on.

[2020-04-26 01:09] everett-hayes opened #243 "*Question* Error: "Invalid app identifier (iOS Bundle ID, Android Key Hash""
Issue found on 04/25/20

I was making my way through the Quick Start Guide and got the following error while trying to connect to the Spotify API.

com.spotify.android.appremote.api.error.AuthenticationFailedException: {"message":"ACCOUNTS_INVALID_APP_ID:INVALID_REQUEST: Invalid app identifier (iOS Bundle ID, Android Key Hash)"}

I'm confused as to where this issue is stemming from. Is the SHA 1 k

[2020-04-29 11:05] Nimmidev commented on #227
@romariomkk i don't know if the "no interaction" hypothesis is true. On Android i have the exact same problem that i get the SpotifyConnectionTerminatedException after a few minute after the app started. But there is no more then maybe 20 seconds without any interaction or PlayerState subscription event.

[2020-04-29 11:31] romariomkk commented on #227
@Nimmidev just to clarify:
The disconnect of our app and subsequent reception of `SpotifyConnectionTerminatedException` takes place only if music isn't in playback state for some time(for us it's surely more than 20 seconds - about 1-2 minutes). But if playback is ongoing, this case isn't reproduced, even if the device was blocked.

[2020-04-29 13:11] Nimmidev commented on #227
@romariomkk hmm thats weird. I just tried it three times and it seems i always get a SpotifyConnectionTerminatedException approx. after 5-7 minutes of playing music.

**Edit:** To prevent the issue and also to tackle other types of disconnects i wrapped the appRemote in a suspend function getter. Maybe this will help someone who has the same kinda problem:

    suspend fun getAppRemote(): SpotifyA

[2020-04-29 18:22] Kfakkel2000 opened #244 "Spotify chreased a lot of time"
Issue found on 20-4-2020
When I listen to my music, I can not search for other songs or artist or it freezes and the app closes. This happends also when I do not listen to my music. If i search for a song or artist this happends every time. My playlist whis the songs I like is gone.

I have premium spotify for students and I am listening from the Netherlands. I listen from my mobile motorola E4 wi

[2020-04-30 00:00] aleksandar-vuckovic commented on #237
I can confirm I also have this issue. More specifically, when changing songs, a new PlayerState is emitted exactly 4 times, every time in my case. As the behaviour is this preditable, one can work around it with a simple counter in combination with Thread.sleep(long).
When pausing and resuming songs, the PlayerState is emitted once (as expected).

EDIT: I was wrong, as I assumed that the events ar

[2020-04-30 07:15] thakareabhi opened #245 "BootstrapMethodError even after changing JAVA Version to 8"
Greetings

Even I am facing the same issue as #144
I have attached the Gradle and Logcat Screenshots, please have a look at them and suggest the changes.

![Screenshot (115)](https://user-images.githubusercontent.com/51523495/80681701-d50d1a80-8ade-11ea-876c-89b3f77e2585.png)
![Screenshot (114)](https://user-images.githubusercontent.com/51523495/80681717-dd655580-8ade-11ea-9fcc-a3d90f2dd3b0.png)

[2020-04-30 14:28] #245 closed, assigned to nobody

[2020-05-02 12:04] manuelsc commented on #243
Just lost an hour dealing with the same issue. Fingerprints were correct **BUT**

You need to pass your sha1 fingerprint in **uppercase** in the developer dashboard. Somehow the allow lower case inputs in the dashboard but actually do a case sensitive check where only uppercase is treated as valid.

"Fix": Add your fingerprint in uppercase

[2020-05-03 05:05] everett-hayes commented on #243
This did indeed work! Awesome catch there with the caps!!!! :)

[2020-05-03 05:05] #243 closed, assigned to nobody

[2020-05-03 16:27] dimitris-athanasiou opened #247 "Allow playing a track from a starting position"
Like the Web API already allows, it would be great to allow playing a track from a starting position.

This feature would improve experience in the following use case:

1. an app allows playing a track from any starting position
2. as things are, when the user starts a track from a position that is not the start of the track, we need to call `play()` first, then call `seekTo()` in the result callb

[2020-05-04 15:32] marzuagacds commented on #31
Hi there! :) Any progress on this?

[2020-05-04 17:22] rahulchhabra07 commented on #208
I am facing the same issue.

Get a permanent notification from Spotify, <app-name> is connecting. But none of the onConnected or onFailure get called.

Also, I don't understand where you included the scope for the login @JakeHao. The Quickstart Documentation says the following:

I have tried changing wifi/cellular data. Have tried recreating app on Spotify web dashboard. Have minSDK of 26, and Jav

[2020-05-04 18:47] dimitris-athanasiou opened #248 "When could the app remote get disconnected?"
Occasionally, when my app interacts with the app remote it may throw a `SpotifyDisconnectedException` even though nothing explicitly was done to disconnect.

Could you please explain under which circumstances the app remote instance gets automatically disconnected?

[2020-05-06 06:27] Jaseemakhtar opened #249 "Redirect URI is not called by the sdk"
Issue found on *05/05/2020*.

#### SDK Version: 7.0.0

#### OS Version: Android 10

#### Scope(s): Android SDK OAuth

The redirect_uri doesn't seem to work. I created a deeplink to an activity in android. It seems to work when i call the deeplink with adb command and also from browser. But when it comes to Spotify-SDK the redirect_uri passed in connection params passed in establishing connection b

[2020-05-10 14:07] jbruell commented on #9
@mdelolmo I was facing the same issue and was really starting to pull my hair out over this, but your comment led me on the right track.
For me, the issue was caused by an ad block DNS server I was using on my phone.

[2020-05-11 16:15] #244 closed, assigned to nobody

[2020-05-13 01:45] btgoss19 opened #250 "Shared SpotifyAppRemote disconnects in foreground service"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on 5/12/2020.

#### SDK Version:
spotify-app-remote-release-0.7.0

#### OS Version:
Android version 5.1.1

#### Scope(s):

#### Steps to reproduce:
1. Get spotif

[2020-05-13 10:06] Nimmidev commented on #241
I don't quite understand the problem here. If the spotify sdk disconnects the song is supposed to continue playing because it plays within the spotify app not your app.

[2020-05-13 12:18] Nimmidev commented on #233
I am not a 100% sure but i think this is intended behavior. From my experience if you use the SDK and play the song from your phone, where the app is installed, you're fine. But as soon as you change the playback device to e.g. your desktop then the "normal" _ConnectionTerminatedException_ timeout kicks in. As you wouldn't have played any song. I used an automatic reconnect mechanism in my app to

[2020-05-13 13:59] Nimmidev commented on #224
Maybe this will help you https://github.com/spotify/android-sdk/issues/233#issuecomment-627943835

[2020-05-13 14:04] Nimmidev commented on #206
From what i have experienced it has some kind of block/chunk behavior. In my app i represent the current song time in seconds and scale it up to milliseconds each time i call seek on the playerAPI. The corresponding PlayerState that i receive in the subscription is always a little bit off.

[2020-05-14 04:10] chuck-stein opened #251 "Expose PlayerContext#type as an Enum? (app-remote)"
I am wondering if the `type` field of the app-remote library's `PlayerContext` class could be exposed as an enum value, so that it is easier for the user to handle the different cases (e.g. with an exhaustive switch statement) and to see what all the possible context types are.

If this is not likely to be implemented, would it at least be possible to receive some documentation for all the differe

[2020-05-14 17:38] Tinouga commented on #12
Any news on this issue? It would be really cool to be able to use the access token that we retrieve with a refresh token with the SpotifyAppRemote.

[2020-05-16 02:31] DianeHu opened #252 "Invalid App ID on authentication when Spotify is already installed on device"
Issue found on *5/14/2020*.

#### SDK Version: spotify-app-remote-release-0.7.0, spotify-auth-release-1.2.3

#### OS Version: MacOS Catalina, running a Pixel 3 emulator

#### Scope(s): app-remote-control

#### Steps to reproduce:
1. Following this tutorial for remote control/authorization: https://developer.spotify.com/documentation/android/quick-start/, implement basic auth flow
2. Launch on andr

[2020-05-17 15:05] Ibairast opened #253 ""CouldNotFindSpotifyApp" exception is thrown outside the emulator while connecting"
Issue found on: May 17th, 2020.

#### SDK Version: 0.7.0

#### Steps to reproduce:
1. Have a working apk debugged in the android emulator
2. Test it on your phone

#### Expected behaviour: Successfully connect to Spotify

#### Actual behaviour: Exceptin thrown

[2020-05-17 18:56] Ibairast opened #254 ""CouldNotFindSpotifyApp" Exception is thrown on the Google Play uploaded version of my app"
I have an app that works perfecty, but when I upload it to Google Play, it crashes and throws "CouldNotFindSpotifyApp" exception.

Issue found on May 17th, 2020 .

#### SDK Version: 0.7.0

#### Steps to reproduce:
1. Have a working aplication
2. Upload it to google play
3. Download it and watch it crash

#### Expected behaviour: Connect to spotify

#### Actual behaviour: Crash. CouldNotFindSpotify

[2020-05-19 12:27] FlorianLoch commented on #11
Any news on this? I am currently working on the topic again, still using the workaround via the Web API (which is not really a workaround as controlling the phone via the Web API for all of my phones only works while Spotify is actually playing... so I can't start playback that way...) so I thought I might ask again ;)

[2020-05-24 15:57] nelson-t commented on #31
Not the best way, but what I do is send a specific track (can be a sound effect) to the queue and keep advancing (and removing items) as fast as possible to the "next" track until I find the "id" (the end of the playing queue). Here is the Js code of my recursive function. It can give you a rough idea of a possible solution:
[code]

[2020-05-25 07:42] dimitris-athanasiou opened #255 "Provide a way to refresh token"
There is no way to refresh the authentication token via the SDK. This seems to be an omission that really hinders good user experience, as can be seen in https://github.com/spotify/android-sdk/issues/12#issuecomment-544844910.

This issue is a request to provide a way to refresh the authentication token so that an app can keep working without requesting the user to login over and over again.

[2020-05-28 09:53] Tinouga commented on #233
@Nimmidev Can't we just have the
`if(throwable is SpotifyConnectionTerminatedException)
        SpotifyAppRemote.connect(context, connectionParams, this)`
in the onFailure listener?
I'm mainly using subscribeToPlayerState tho, but the results seemed to be the same, either with a suspend function like your getAppRemote() or with only using the automatic reconnect in onFailure.

[2020-05-28 13:48] Nimmidev commented on #233
My example was mainly for the usage of control methods like play/pause/queue etc. I experienced the PlayerState subscription to be invalid after a disconnect so i had to wrap that class similarly.  Are you sure you receive new PlayerState changes after a reconnect without renewing the subscription?

[2020-05-28 22:00] Tinouga commented on #233
Oh yes I'm resubscribing to the player state each time after a reconnection, and it works without problem.
(sorry I should've been more explicit in my first message)

[2020-06-01 06:57] snappdevelopment commented on #252
Check out this issue, maybe it helps: https://github.com/spotify/android-sdk/issues/188
I had the same problem and I saw that I had
`debug {
        applicationIdSuffix ".debug"
}`
in my build.gradle file.
So the package in the dashboard should be `<myPackageName>.debug`

On the other hand, there is no way to refresh the token silently, so I can't use the sdk anyway 🤷‍♂️

[2020-06-02 12:10] tobika commented on #235
I found some similar bugs for sonos users, I guess they use the same sdk?
maybe this info can help to bring some light on this issue

https://en.community.sonos.com/troubleshooting-228999/spotify-playback-problems-skips-songs-6809292
https://en.community.sonos.com/troubleshooting-228999/spotify-music-keeps-skipping-to-next-track-6819400

[2020-06-02 13:19] vixez commented on #233
Hello,

Currently I'm reconnecting as well on `SpotifyConnectionTerminatedException`. it would be nice to have an option in the SDK to automatically reconnect, until the app closes or the SDK is stopped.

Thanks for the explanation.

[2020-06-02 19:01] egomezsumma commented on #213
Sorry my newbibiesness, im try to of get al playlist uris (playlist made it by the user) but i fails. I already read alll methods of ContentApi, UserpApi, PLayerApi an no one give me a way to iterate in User's own created librarys. Or aleast i want to itereate on download one to reproduce them

regards

[2020-06-02 19:53] Xtizainy opened #257 "Playlist cover image"
When getting an image or cover for a playlist API returns an image with playlist name on it. But original Spotify app shows cover without a title on image itself and writing a title using TextView. Question: how to get a 'pure' playlist cover image without drawn title on it?
Thanks

[2020-06-04 09:45] Tinouga commented on #181
Hi @mdelolmo ,
sorry to bother you here,
but if I understand correctly what you said and what is written in the developer terms here:

and here:

Am I right to understand that an app which controls the playback of a song using the Spotify app in the background isn't a Streaming SDA and that we can monetize it?

Thanks in advance!

[2020-06-08 13:48] richjhart commented on #12
Why is that everytime I go to use a public API, I spend ages getting everything working, only to find out that something really basic and essential is not actually included.

Seriously, how has this issue been here for 2 years and it still isn't fixed?

[2020-06-11 15:33] snappdevelopment commented on #255
@mdelolmo Hi, I am not sure who to tag, but does this feature have any priority? Or is it not gonna happen in the near future?
Be being able to refresh the token silently, would have a lot of benefits for apps which mainly run in the background, without much user interaction.

[2020-06-12 07:38] mdelolmo commented on #255
Hi @snappdevelopment
I'm not currently working on the SDK, but to the best of my knowledge, this feature is not currently in the product backlog.

[2020-06-12 08:31] mdelolmo commented on #252
Hi,

When Spotify is installed, the authorization flow is run natively. This native authorization flow checks for your app's package id and the signature fingerprint. If those don't match (and they need to match exactly) those you entered in the developer console, you'll get a `INVALID_APP_ID`.

Like @snappdevelopment pointed out, you need to add both your debug build and release configurations in

[2020-06-12 15:07] cjam opened #258 "Queue behaves differently than iOS SDK"
Hey Spotify Team,

I'm writing a react-native wrapper of this library and the ios-sdk ([react-native-spotify-remote](https://github.com/cjam/react-native-spotify-remote)).  I have most functionality implemented in both iOS and Android, and have an example app to exercise all of the exposed functionality to make sure things work properly.  What I discovered today while trying to integrate it with m

[2020-06-15 16:35] Xtizainy commented on #231
Any updates on this?

[2020-06-18 07:31] mdelolmo commented on #181
Sorry @Tinouga

This forum is not meant for legal/licensing questions.

You can get support here:
https://developer.spotify.com/support/#commercial-integration-application

[2020-06-18 15:09] georgeRaduNeusoft commented on #233
I experience the same thing after 10 minutes of inactivity (not playing music from Spotify SDK). I will implement a re-connection mechanism.

[2020-06-22 06:21] mediaController opened #259 "Update Auth library with support for PKCE authentication flow"
https://developer.spotify.com/community/news/2020/06/18/pkce-oauth/

When can we expect this flow to be supported by the authentication library?

[2020-06-22 14:19] heyjamesknight opened #260 "App Remote fails to connect unless Spotify app is already open."
Issue found on 06-22-19.

#### SDK Version: 0.7.0

#### OS Version: Android 9

#### Scope(s): App Remote.

#### Steps to reproduce:
1. Force close the Spotify App.
2. Call `SpotifyAppRemote::connect

#### Expected behaviour:
SpotifyAppRemote connects.

#### Actual behaviour:
App receives "SpotifyAppRemoteException: Result was not delivered on time." and fails to connect.

[2020-06-23 00:57] joseandroidengineer commented on #260
Works okay for me. Where are you calling it from?

[2020-06-23 15:32] stefanoeb commented on #241
I made my disconnect function call pause() before disconnect()

[2020-06-25 13:49] heyjamesknight commented on #260
We did some more testing, and it seems to only be an issue on our budget testing device, a Moto e6 Play. On that device we can reproduce every time.

It's not a major issue, assuming it really is only on that one device, but we would like to know that for certain.

[2020-06-29 12:08] tobika commented on #235
it seems that the bug was of course mine in the end 😅

[2020-06-29 12:08] #235 closed, assigned to nobody

[2020-07-01 21:09] themafia1234 opened #261 "Logout , Let another user Log in"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.

#### SDK Version: 29

#### OS Version: Android 10.0

#### Scope(s): {"streaming","playlist-read-private","user-library-read","user-read-email","user-

[2020-07-02 20:14] rohit-ganapathy commented on #247
@spotify this functionality is really important to our app. The song briefly playing in the beginning is really messing things up for. Would be eternally grateful if you could have this fix to be up in your priority list. The WEB APIs already allow this.

[2020-07-03 21:38] GhimpuLucianEduard commented on #255
I've also faced the same problem and it's quite frustrating.

What I ended up doing is handling the auth with [AppAuth](https://github.com/openid/AppAuth-Android), it's quite similar to the implementation of the Spotify SDK, the main difference is that instead of using a "login activity" the library uses custom tabs.

Using AppAuth you can retrieve both access and refresh token and refresh them as

[2020-07-09 14:57] rohit-ganapathy commented on #261
logout of the spotify app.

[2020-07-09 14:59] rohit-ganapathy commented on #255
@GhimpuLucianEduard does the access token retrieved with app-auth work with the SpotifyRemoteSDK?

[2020-07-09 21:32] jbruchanov opened #262 "Don't swallow exceptions"
Issue found on 2020-07-09.
#### SDK Version: 0.7.0.
#### Steps to reproduce:
Consider following code
[code]
The app doesn't crash as expected, NPE is swallowed in `com.spotify.protocol.client.WampCallsOrchestrator.SubscriptionRecord#deliverEventWithPayload`.
This has unfortunately side effect on LiveData and keeps mutableLiveData in broken state and it doesn't dispatch new events anymore.

[2020-07-13 16:46] EagleOne33 commented on #219
what else should we use..? :/

[2020-07-13 19:55] GhimpuLucianEduard commented on #255
@rohit-ganapathy

I've not tried the SpotifyRemoteSDK but as long as it needs a regular Spotify token, yes it will work.
AppAuth it's basically it's just an alternative to the Spotify auth library. In theory, you could handle the auth flow even without any libraries.

[2020-07-14 08:48] AnandhuKaleshAk opened #263 "Can't connect to Spotify service"
Spotify SDK throws Error  "SPOTIFY_APP_REMOTE: Can't connect to Spotify Service" In One plus 7 device with android version 10.Could you please help me to resolve this issue?

[2020-07-15 23:34] csbruno opened #264 "How to get playlist from current user"
How to get playlist from current user.
In android sdk.
Anybody knows how to do this?

[2020-07-21 13:12] heyjamesknight commented on #260
We're having this issue reported across other devices as well. Basically if the Spotify app is force closed at some point, and we try to connect again, then we have to wait 30 seconds for a timeout. We've seen it on the Moto e6 Play as well as Moto G Power.

[2020-07-23 14:18] Xtizainy opened #265 "Skip to index in saved tracks"
Issue found on *DATE*.

#### SDK Version:
0.7.0
#### OS Version:
29
#### Scope(s):

#### Steps to reproduce:
1. call skipToIndex() with saved tracks uri and position 2

#### Expected behaviour:
play third track from saved tracks and save your_library context
#### Actual behaviour:
always plays first track from saved

Is it possible to skip to a desired position inside saved tracks context?

[2020-07-27 14:07] Tinouga commented on #247
I tried messing a little with the AudioManager (mute the audio > play a track > "seekTo" the position > unmute) but to no avail.
Having this feature would be really great.

[2020-08-02 16:38] Bluebell9000 commented on #260
canit get this person off my app spotify. she listens on there and it is pissing me off

[2020-08-03 12:53] DerSIlent commented on #62
I am also experiencing the same behaviour. By only printing the name with `mSpotifyAppRemote?.playerApi
            ?.subscribeToPlayerState()
            ?.setEventCallback { playerState ->
                Log.d("Singleton", "Track ${playerState.track.name}")
            }`

it calls the callback 3 times if I where to change to song (next or previous), for context I am changing it from the spotif

[2020-08-03 15:08] heyjamesknight commented on #260
We've had this issue open for over a month, any chance we could get some insight into what's going on?

[2020-08-04 11:57] ghost commented on #219
A new info has been given by one of the users. The user said that that problem started to happen after he had his device formatted.

---

_@mdelolmo, Hi o/.
 Do you know if anyone from Spotify is currently working on the Spotify SDK for Android? This issue and several others have been opened  for a long time without any reply from the Spotify team._

_Thanks :D_

[2020-08-04 16:22] Arutyun2312 commented on #260
same issue on samsung galaxy s9+. I noticed if i clear spotify app data in settings, then the connection gets established always almost immediately, doesnt matter if spotify is closed or open. But then later on, the issue resumes

[2020-08-04 16:26] Arutyun2312 commented on #263
Try to clear spotify app data in phone's settings. Does it help?

[2020-08-04 17:11] #209 closed, assigned to nobody

[2020-08-09 12:49] uptotec commented on #237
I have the same problem any solutions ?

[2020-08-13 02:13] hufman opened #267 "Podcast contentApi.getChildrenOfItem and playerApi.skipToIndex behave incorrectly"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *2020-08-10*.

#### SDK Version:
spotify-app-remote-release-0.7.0

#### OS Version:
Android 10

#### Scope(s):
App Remote Podcast playlist support

----------

[2020-08-13 09:42] Pajn opened #268 "Queue management"
To develop a full player frontend queue management is necessary. That is, functions for:

- list the current queue
- subscribe to updates in the queue
- reorder items
- remove items
- insert items at a specific index

The Spotify app has two levels of queueing. Queue and what's playing next. I think the SDK should allow access to both levels.

[2020-08-19 14:37] heyjamesknight commented on #260
Does anyone at Spotify look at these issues?

[2020-08-19 15:03] Arutyun2312 commented on #260
It seems like the issue got resolved, after i updated the spotify app and sdk.

[2020-08-28 14:19] WiMank commented on #12
How wrong I was that I could quickly make an application using this authentication library, I looked at the source code, re-read the documentation until I realized that we do not have an easy way to update the access token, then why do we need this library?

_I am used AppAuth library and feeling good_

[2020-08-28 20:10] fotiDim opened #269 "Play track as radio"
Will play track as radio be implemented? The iOS SDK has this feature. Is there any workaround, perhaps generating a radio URL somehow?

[2020-08-30 14:48] rohit-ganapathy opened #270 "Suddenly getting this error : [Error: {"message":"Cannot seek in song: [UNKNOWN]"}]"
After updating the app, I get the following error when I try to seek to a position in a song:
Suddenly getting this error : [Error: {"message":"Cannot seek in song: [UNKNOWN]"}]

Issue found on 30th Aug 2020.

#### Spotify App Version:
8.5.73.824

#### SDK Version:
0.70
#### OS Version:
  Android 9
#### Scope(s):
App Remote
#### Steps to reproduce:
1. Update Spotify to latest version
2. play and s

[2020-08-30 15:30] Volatile-Memory opened #271 "[Spotify App Remote] Direct local .aar file dependencies are not supported when building an AAR"
I am building a modular application that makes use of gradle android submodules.

One of the submodules is specific to Spotify and thus it depends on
[code]

Does the spotify-app-remote library have a gradle repo that hosts it like there is for the "com.spotify.android:auth" one?
Whenever I try to build my app with the direct dependency on the spotify-app-remote-release-0.7.0.aar, I get this error

[2020-08-31 17:29] ChristopherCarignan commented on #219
Same problem here, can't find a solution anywhere and Spotify doesn't seem to want to help.

I tried rolling back to an older version (0.6.0) of the App Remote .aar, but it is the same problem as with the current version (0.7.1)

Reproducible on Pixel 3 AVD and on actual Pixel 3, both with Spotify installed.

[2020-08-31 18:39] ChristopherCarignan commented on #219
Apparently, I needed to *allow Spotify to be searched* before trying to search for it! This may be common knowledge, but it wasn't to me.

Added this to the manifest file:

[code]

[2020-09-02 14:39] sudomice commented on #270
hi @dflemstr @jkp @vzctl

I'm facing this issue with seek as well. Can you please look into this ?
This bug is causing major issues with my app.

Thanks,
Ishaan

[2020-09-03 16:54] hari-s-30 commented on #270
hi @jkp @dflemstr  @vzctl,
I have been facing the same issue too. It has rendered core features of my app unusable. Could you please have a look at this soon as it is affecting the future releases.

Regards,
Hari

[2020-09-04 05:56] rohit-ganapathy commented on #270
Hey guys please look into this... it is still not resolved

[2020-09-05 09:39] JDKhare commented on #270
Hey @rohit-ganapathy , I have been facing the same issue too. Can you please look into this @jkp @dflemstr @vzctl. Thank you.

Regards,
Jaideep

[2020-09-06 15:16] rohit-ganapathy commented on #270
Hey guys can we at least acknowledge that there is an issue? Sorry for being so persistent but it is a question of losing users.

[2020-09-06 15:17] rohit-ganapathy commented on #270
@JDKhare can you confirm which version of Spotify it is?

[2020-09-06 19:02] sudomice commented on #270
@dflemstr I'm happy to work on this issue if you can help us identify the core issue

Thanks,
Ishaan

[2020-09-06 19:48] JDKhare commented on #270
@rohit-ganapathy Same as yours. Wonder if it's an issue with the India release? Are you using an Indian account?

[2020-09-06 20:08] aaryan01 commented on #270
Hey
I'm facing a similar issue as well. It would be of great help if you could look into this.
Thanks

[2020-09-16 14:47] egomezsumma commented on #31
Yes i gonna do the same, enqueue a specify song (hope user does not enqueue that song before). I think the api (web and sdk) are very limited.

[2020-09-17 14:56] anscash commented on #270
Same issue... Please fix that, this error was fixed a year ago by updating the spotify app but now it returned :-(

[2020-09-18 10:19] heyjamesknight commented on #270
Same issue here as well. Does anyone from Spotify actually look at these boards?

[2020-09-22 10:59] vaionescu commented on #270
Same issue here. My app's core features are unusable until this is fixed. Could you, please, have a look at this soon? It is preventing me from launching the app. Thanks!

[2020-09-25 07:48] ChinaVolvocars commented on #271
api fileTree(dir: "libs", include: ['*.jar', '*.aar'])

[2020-09-25 07:48] ChinaVolvocars commented on #271
USE ''  NOT ""

[2020-09-25 07:49] Volatile-Memory commented on #271
?

[2020-09-25 07:58] tobika commented on #270
A few months ago I read that Spotify prefers to discuss developer problems on [this](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer) forum, not sure if they are still checking the github issues, woul be nice to know.

But to have a response I guess you should post the problem here:
https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer

[2020-09-25 08:20] heyjamesknight commented on #270
@tobika Unfortunately they don't respond there either: https://community.spotify.com/t5/Spotify-for-Developers/getting-Error-quot-message-quot-quot-Cannot-seek-in-song-UNKNOWN/m-p/5026584

[2020-09-25 08:24] tobika commented on #270
ups, sorry @jknightco didn't see it there, thanks for the link

[2020-09-25 14:06] tobika commented on #270
To clarify: I guess the problem is that we seek right after the result callback of the play command? If I seek once the song is already playing everything works quite well.

Did someone find a way to determine from which moment it is safe to seek? Best way for sure would be the spotify app getting back to it's working state like it was before.

[2020-09-25 16:27] rohit-ganapathy commented on #270
found one hack. Use onPlayerStateChange event listener to know when the context has truly shifted to the uri and only then seek. I've realised that spotify player context does not shift immediately after the call to playUri resolves successfully.

[2020-09-28 07:36] birdeveloper commented on #193
I am having this problem too. The scopes I sent are as follows;

`"user-follow-read","user-read-email","user-read-private","app-remote-control","streaming","user-modify-playback-state","user-read-currently-playing","user-read-recently-played","user-top-read"`

I get this error only when the app is in the market.

**E/Spotify: [OkHttp https://accounts.spotify.com/...] AccountsPrefligtRequest failed

[2020-09-28 07:45] birdeveloper opened #272 "AccountsPrefligtRequest failed with status code: 400"
SDK Version:
auth: 1.2.3
app-remote: 0.7.1

OS Version:
Android 5.0 and above on all versions

Steps to reproduce:
Do the following call once:

    private fun getAuthenticationRequest(type: AuthorizationResponse.Type): AuthorizationRequest {

        return AuthorizationRequest.Builder(CLIENT_ID, type, getRedirectUri().toString())
                .setScopes(arrayOf("user-follow-read","user-read-e

[2020-10-01 17:46] niehusst commented on #43
I found a workaround for getting app-remote to do what you want at the end of a song, based on paulgoetze suggestion above. (granted it is a bit messy, and sometimes you'll hear another song play for a blip before the correct action kicks in)
[code]
This is not an exact substitute for reliable end-of-song event generation, but hopefully it will help someone struggling with this issue.

[2020-10-07 08:32] MirzaAhmedBaig opened #273 "Unbale to connect spotify remote from android"
I am trying to get spotify remote as follworing
[code]
but there is no call back after this.
A notification is coming "App is connecting" but there is nothing after that no call back no error nothing

[2020-10-08 01:41] Diegofr104 commented on #273
Im having the same problem

[2020-10-09 12:56] ghost commented on #123
Hello @aguzmanballen @mdelolmo @tobika @432player @jkp

Any Solution ?
Same issue occur in iOS, did you find any solution, if yes please share.

1. https://github.com/spotify/ios-sdk/issues/160
2. https://github.com/spotify/web-api/issues/1357

Thank you

[2020-10-09 13:20] pghazal commented on #273
I had the same issue. The documentation is not very clear IMO.
From what I understood, you need first to authorize your application.

For this, you'll need first to add the authentification library into your project:

`implementation 'com.spotify.android:auth:1.2.3`

Then, into your `onCreate()` you'll be able to authorize your application using:

[code]

The code above will open Spotify's `LoginA

[2020-10-09 19:59] joseandroidengineer commented on #273
Yeah, the onActivityResult is what'll help you out. I can confirm this

[2020-10-14 02:01] itsjustbrian commented on #61
To add to this, it would be great if we could subscribe to what the current device is, or at a minimum read if the local device is being used or not. I think that information would fit comfortably into either the player state or player context subscriptions. You can of course poll the web API, but that's slower, more wasteful, and would run up the rate limit pretty quickly

[2020-10-18 15:33] hufman commented on #271
I am also interested in a Maven dependency instead of a bundled AAR file. The Android ecosystem uses Maven to organize dependencies and to help keep libraries updated, instead of manually including a binary blob in the project.

[2020-10-21 09:11] JakeHao opened #274 "Timeout running com.spotify.play_spotify_uri"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.

#### SDK Version:
auth: 1.2.3
app-remote: 0.7.0

#### OS Version:
Android 5.1

#### Scope(s):

#### Steps to reproduce:
1. PlayerApi playerApi = mSpo

[2020-10-21 09:41] tobika commented on #274
I think I have the same problem, but can't reproduce all the time. Instead of calling the `play` function I call `skip_to_index` which is the same as play just inside a album with an offset.

`com.spotify.protocol.client.error.RemoteClientException: "Timeout running com.spotify.skip_to_index`

[2020-10-23 08:39] georgeRaduNeusoft opened #275 "SkipToIndex - add the desired play / pause state"
Issue found on *23/Oct/2020*.

#### SDK Version: 0.7.1

#### OS Version: 7.1.1

#### Steps to reproduce:
1. skipToIndex - the song starts playing; if the player is paused, do not start playing

#### Expected behaviour: skipToIndex - the song starts playing; if the player is paused, do not start playing

#### Actual behaviour: skipToIndex - the song starts playing even if the player is paused

[2020-10-23 14:26] skyberk opened #276 "Play song with custom notification"
play song function working perfectly but i dont want to use spotify's default sticky notification. Can i hide it or create a custom notification for my app when user play song. Because user should not skip the song in my app scenario.

[2020-10-23 15:07] tobika commented on #276
Hey, I haven't tried this but remember that you can define a stream type as a second argument when you start playing a track.
https://spotify.github.io/android-sdk/app-remote-lib/docs/com/spotify/android/appremote/api/PlayerApi.StreamType.html

In the example they say it's for ALARM sounds, so maybe in this case they won't show the notification?
Maybe this helps.

[2020-10-30 02:33] niehusst opened #277 "Spotify crash on AuthenticationClient.openLoginActivity"
Issue found on 10/29/2020

#### SDK Version:
spotify-app-remote-release-0.7.0.aar
spotify-auth-release-1.2.3.aar

#### OS Version:
7.1.1
Nexus nextbook tablet
Model: NX16A10132SPS

#### Scope(s):
? not sure what you mean by Scope in this context (sorry)

#### Steps to reproduce:
0. register my app in the Spotify console
1. have the Spotify App installed
2. be logged into Spotify app (free/premium

[2020-11-02 10:42] georgeRaduNeusoft opened #278 "SkipToIndex returning error -> No IAP endpoint for URI: \"com.spotify.skip_to_index\""
I get this error: No IAP endpoint for URI: \"com.spotify.skip_to_index\". Randomly. It used to work and now is not working anymore.

[2020-11-02 14:54] benlane2003 commented on #271
What a coincidence, I am trying a similar thing too. I am currently attempting to build an AAR plugin for Unity 3D with this Spotify Android SDK. I have gotten through your issue by using "compileOnly files('libs/spotify-app-remote-release-0.7.1.aar')" in the dependencies instead of "implementation files("libs/spotify/app-remote-lib/spotify-app-remote-release-0.7.1.aar")"
(Notice the file name, we

[2020-11-03 10:55] georgeRaduNeusoft commented on #274
@tobika I have also encountered this issue today for the first time. And regarding skipToIndex I have also encountered issues - https://github.com/spotify/android-sdk/issues/278.

[2020-11-06 13:05] c02kr opened #279 "THE PLAYER ISSUE the player progress bar in the dark mode is not considerably visible."
![Screenshot_2020-11-06-18-35-23-167_com.spotify.music.jpg](https://user-images.githubusercontent.com/72316627/98369368-d6f00180-205e-11eb-8fac-5a9494d55da6.jpg)

[2020-11-08 11:33] pghazal commented on #12
I was frustrated when I found out we can't refresh token so I've implemented a solution using AppAuth library to make it easy to integrate into Android apps.
The project is a fork from [spotify-web-api-android](https://github.com/kaaes/spotify-web-api-android).

Check the needed [auth dependency](https://github.com/pghazal/spotify-web-api-android#integrating-into-your-project) and [this section](h

[2020-11-08 11:52] pghazal commented on #255
As @GhimpuLucianEduard suggested, I ended up implementing AppAuth and I've made it a library to make it easy to integrate in apps.
The project is a fork from [spotify-web-api-android](https://github.com/kaaes/spotify-web-api-android).

Check the needed [auth dependency](https://github.com/pghazal/spotify-web-api-android#integrating-into-your-project) and [this section](https://github.com/pghazal/s

[2020-11-10 17:27] soumithganji opened #280 "Spotify auth works only when Spotify app is not installed on the device."
Issue found on 10/11/2020.

1.2.3 SDK Version.

While using auth. for an android app using Spotify sdk , the behavior is not expected in some cases.

Expected behaviour:
The auth. token is supposed to be generated even if the Spotify app is installed on an android device.
Otherwise also token should be generated.

Actual behaviour:
A null auth. token is generated if the Spotify app is installed on

[2020-11-13 01:29] calebschoepp commented on #219
@ChristopherCarignan I was having the exact same issue. Your fix worked! THANK YOU! This requirement should really be more clearly communicated by Spotify.

[2020-11-13 03:56] calebschoepp commented on #76
I'm still encountering the same issues.

[2020-11-13 09:40] ghost commented on #219
Hi. Sorry for my late reply, @ChristopherCarignan. But that's a bit strange. The problem comes long before the release of Android 11, so I believe it may still happen even after adding those lines to the `AndroidManifest`.

Android 11 was released around September / 2020. The problem comes from long before March / 2020.

[![image](https://user-images.githubusercontent.com/18216987/99057727-f3b6988

[2020-11-17 02:32] sayasheng commented on #12
I am having the same issue while integrating Android SDK to my app. I get the access token from web API and want to set it to SpotifyAppRemote. Could anyone help this?

[2020-11-23 16:26] georgeRaduNeusoft commented on #274
@JakeHao I have also got this error today after some hours of inactivity. The spotifyAppRemote object was alive, connected, but still I got this error "Timeout running com.spotify.play_spotify_uri". So the only solution was to restart the app which meant spotifyAppRemote.disconnect and reconnect and worked ok. But I do not know exactly how to approach this error because it comes randomly and it do

[2020-11-26 11:34] tec-anDro-DeV opened #281 "Spotify Connection Listener called only once"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *11/26/2020*.

#### SDK Version: 0.7

#### OS Version: Android 8.1

I implemented the below dependencies in the project's lib folder.
spotify-auth-release-1.2

[2020-12-01 08:03] birdeveloper commented on #272
I selected my app from the Play Console account. I have come to the Version> Setup> Application Signing Page. I copied the SHA-1 certificate fingerprint and placed it in the relevant part of the Spotify developer account. And there is no longer a problem.

[2020-12-01 08:03] #272 closed, assigned to nobody

[2020-12-01 14:11] mdelolmo commented on #270
I'm going to need more precise steps to reproduce. I can't see any issue with the sample app and seek.

[2020-12-02 11:27] pghazal commented on #184
Also running into this issue.

However in my case the message is different and so random:

[code]

Edit: exactly same issue than [#192](https://github.com/spotify/android-sdk/issues/192)

[2020-12-05 18:11] itsjustbrian opened #282 "UserNotAuthorizedException fired erroneously instead of AuthenticationFailedException"
Issue found on December 5th 2020.

#### SDK Version: 0.7.1

#### OS Version: 11

#### Scope(s): App remote SDK

#### Steps to reproduce:
Error comes from Spotify's backend on periodic authentication calls. So no reliable reproduction steps from end-user's perspective.

#### Expected behavior:
The app remote SDK should always fire a `AuthenticationFailedException` on authentication failures resulti

[2020-12-07 16:42] FlorianLoch commented on #11
Just stumpled over my project leading to this question again - so might I ask one more time whether there is any update on this? ;)

[2020-12-07 19:45] tobika commented on #11
As you wrote in one of your previous messages I'm using `skipToIndex()` and I calculate the offset myself with the album information I downloaded before.

[2020-12-07 20:25] FlorianLoch commented on #11
You mean by looping through the tracks contained in the album and checking for a match with the current tracks identifier? A good workaround, still, I think it's a pitty that this is possible with the Web API but not with the one for Android and the one for iOS.
Do you know whether this works out offline? Assuming I have to album downloaded? If so this might be a viable approach for me :)

[2020-12-07 20:44] tobika commented on #11
Yes exactly, agree that it's a pitty that we can't use the id.

Offline, personally I have the problem that I can't start playback when offline, but if I switch to airplane mode afterwards the next/prev function calls work. (if album downloaded)

[2020-12-10 19:43] nakeisha0601 commented on #194
Hi @anscash I gotted the same problem but with the new version of auth-lib:
`implementation project(':spotify-auth-release-1.2.3')`
my problem is almost fixed, in this new version the implementation of webview fallback works with Android API 19 but only if Spotify app isn't installed

[2020-12-17 07:41] Nimmidev commented on #279
This has nothing to do with the Android SDK. For general feedback head over to the [Spotify Forum](https://community.spotify.com/t5/Social/bd-p/spotifycontribute).

[2020-12-20 18:23] itsjustbrian opened #283 "Get current device"
Possible duplicate of #61, but I wanted to open an issue focused specifically on the ability to read what the current playing device is from the SDK, or at the very least, whether Spotify is using the local device or not. This (I imagine) would be a very simple addition that would really help the functionality of my app and I'm sure others' too. #61 is also pretty old at this point and doesn't see

[2021-01-07 12:21] NicolasLaurentGarnotel commented on #271
I have exactly the same problem when I follow the Spotify documentation to the letter.

In Android Studio, the Spotify SDK is well recognized because I can use the SDK's features, but as soon as the application launches and uses ConnectionParams.Builder, I get the error

"Call Exception: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/spotify/android/appremote/api/ConnectionParams$Build

[2021-01-09 19:11] djwillcaine opened #284 "Include player context with player state (like the iOS SDK)"
With the iOS version of this SDK, the player context (current album/playlist) is [included along with the player state](SPTAppRemotePlayerState). However, in this android implementation, it is not, and instead we have to separately [subscribe to the player context](https://spotify.github.io/android-sdk/app-remote-lib/docs/com/spotify/android/appremote/api/PlayerApi.html#subscribeToPlayerContext--)

[2021-01-12 15:42] chjan opened #285 "Is the "approval comitee" for commercial apps using this sdk non-operational?"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.

#### SDK Version:

#### OS Version:

#### Scope(s):

#### Steps to reproduce:

In vain, we have made several attempts to contact Spotify via the "dev

[2021-01-27 15:27] boomcruiser opened #286 "Can't redirect due to mismatch error while trying to login with google or apple"
Issue found on *27-01-2021*.

#### SDK Version: 1.2.3

#### OS Version:  Android Version 11

#### Scope(s):

#### Steps to reproduce:
1. Open Login Activity
2. Click on "Continue with google" or "Continue with Apple"  and proceed to login

#### Expected behaviour:
Login should work and provide access token.

#### Actual behaviour:
Login doesn't work and throws following error
"Can't redirect due t

[2021-02-02 18:05] rkraghavkh18 opened #287 "How does github produces lyrics for the songs?Lyrics issue"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.
2/2/2021
#### SDK Version:

#### OS Version:

#### Scope(s):

#### Steps to reproduce:
1.
2.

#### Expected behaviour: Correct lyrics

#### Actual beh

[2021-02-04 09:03] gabrielittner opened #288 "Migrate away from jcenter"
The auth library is currently hosted on jcenter which will shut down in May. Could you publish the library on maven central instead? https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Sidenote: It would also be great if the appremote library would get published there. If it's about appremote being closed source you can request from Sonatype to get the rights to publi

[2021-02-04 22:30] Hegezcc commented on #170
Just a heads up, this issue is kind of duplicated #226.

[2021-02-05 10:03] stefanoromanello opened #289 "ImagesApi not responding"
The problem is that the callback is never called causing the CountDownLatch to wait indefinitely. I don't understand why the getImage() method does not return a callback (Log.d("sync", "done") is never called)

[code]

[2021-02-08 09:41] #270 closed, assigned to mdelolmo

[2021-03-01 16:57] pythymcpyface opened #290 "OnReceive triggered multiple times for each broadcast"
Issue found on 01/12/2020

#### SDK Version:
spotify-app-remote-release-0.7.1

#### OS Version:
android compileSdkVersion 30
buildToolsVersion "30.0.2"

#### Scope(s):
"user-library-read",
"playlist-read-private",
"playlist-read-collaborative",
"user-read-email",
"user-read-private"

#### Steps to reproduce:
1. User opens app
2. Spotify OAuth carried out successfully
3. Playlists correctly display

[2021-03-01 20:01] tobika commented on #198
@mdelolmo thank you so much. I just tried it today with the latest Spotify Update and it seems to work really well now :)

I have found a bug during offline playback.
Using `mSpotifyAppRemote.getPlayerApi().skipToIndex(uri, offset)` for album playback with an offset of 149 works perfect.
Using an offset of 150 or greater doesn't work.

Should I create another issue?

[2021-03-05 16:00] hufman commented on #265
I am encountering this problem too, and have not been able to come up with a workaround. My users are complaining about this strange bug, and I feel helpless.
It also seems to happen with an Artist context.

[2021-03-06 07:39] matejdro opened #291 "Starting playback with screen off will sometimes cause Spotify to ignore audio focus"
#### SDK Version: 0.4.0

#### OS Version: 10

#### Spotify Version: 8.6.4.971

#### Steps to reproduce:
1. Spotify should be in stopped/paused state
2. Connect to the Spotify via `SpotifyAppRemote.CONNECTOR.connect()` and play playlist URI with `SpotifyAppRemote.play()` while **screen is off and locked**
3. Turn the screen back on
4. Open another media app (such as a podcast player) and start play

[2021-03-08 12:42] tobika opened #292 "Playing unplayable track (no rights in country) not handled (no error thrown)"
Issue found on 08/03/2021 (well before actually)

SDK Version: 0.7.1

OS Version: Android 9

Scope(s): ['streaming', 'user-read-birthdate', 'user-read-email', 'user-read-private', 'app-remote-control', 'user-read-playback-state', 'user-modify-playback-state']

#### Steps to reproduce:
1. Play a unplayable song (no rights in my counrtry) with `skipToIndex()`

#### Expected behaviour:
Error is retur

[2021-03-11 14:04] ShivanshRakesh commented on #201
A big +1. It would be of great help for apps which need to switch between two audio streams (one of Spotify ofc).

[2021-03-20 12:38] araczkowski commented on #252
Hi @mdelolmo

the is some strange problem with this, I'm 100% sure that I'm using correct ConnectionParams (package id, client id and redirect uri) the signature fingerprint is correct too -> SHA1 uppercase.
But each time when my app is reinstalled (during the upgrade) I have a error -> {"message":"Client authentication failed:INVALID_APP_ID"}

The workaround is to logout from spotify app and logi

[2021-03-30 09:34] larssn commented on #271
Thats because compileOnly does not support aar files. Source: https://developer.android.com/studio/build/dependencies

I'm basically stuck as well (but for another project, unrelated to spotify).

[2021-04-21 06:37] georgeRaduNeusoft commented on #82
It is still happening to me very often

[2021-04-28 00:18] andresilva-cc commented on #69
Sorry for replying to this old issue, but just wanted to be sure:

If we want to get the user playlists, we have to use Authorization library to authenticate/authorize and get a token, then fetch the playlists through  Web API (using the token we got from Authorization library). Then I can continue using App Remote library to play a given playlist, just passing the playlist URI I want. Is that rig

[2021-04-28 12:18] veronikapetruskova commented on #288
Hi @gabrielittner we recently published the auth library on MavenCentral so you should be able to get the latest version (1.2.4) from there. We also added a version badge to the [repo README](https://github.com/spotify/android-auth) so that it's easily visible what's the latest library version. Please let us know if you can't access it from MavenCentral.

Also, it looks like they decided to leave

[2021-04-28 12:19] #288 closed, assigned to nobody

[2021-05-04 00:51] SantiagoPereira commented on #243
Hey, I'm having this same issue even though the SHA-1 code I'm using as input is as follows (numbers are edited):

38:71:9F:38:5C:84:22:E5:6E:5D:4C:22:F2:06:F5:74:91:A2:A4:E6

I already tried creating another app as suggested in the StackOverflow thread. What could be going on?

[2021-05-11 07:30] brim-borium commented on #271
How easy/hard is it to add the remote sdk to a maven repository?

[2021-05-12 06:05] georgeRaduNeusoft opened #294 "Auto play forcing even if I commanded to play other song"
Issue found on March-April 2021
#### SDK Version: July 2020

#### Steps to reproduce:
1. Play song by song by URI [not play a playlist]
2. Have Auto play enabled
3. After song A is finished, I command through the spotifyAppRemote.play(songUri) method
4. I receive the success callback that the song started to play
5. After 500ms - or more from the successful callback, Auto play forces and tries to

[2021-05-21 18:43] egomezsumma commented on #32
Hi, Im getting the same issue INVALIDA_APP_ID
I get the sha1 fingerprint with this command:
         keytool -exportcert -alias **alias** -keystore **KeyStorePath.jks**

Where **KeyStorePath.jks** and **alias** is the same data, that i used with android studio to generate signed bundle (.aab) to upload to Google Play Console

I´m concern about the seccion of Redirect URIs, i dont have server side

[2021-05-27 03:55] alading commented on #154
I also vote for it

[2021-05-28 19:55] egomezsumma commented on #231
Hi i get the same type of error but when i have no internet connection at all,
One of my goals is to use the sdk playerApi when i got no internet too, beacause i have spotify premium and i can play song going offline, so i think it could be reasonable to spect that.

regards

[2021-05-28 19:55] egomezsumma commented on #2
Hi i get the same type of error but when i have no internet connection at all,
One of my goals is to use the sdk playerApi when i got no internet too, beacause i have spotify premium and i can play song going offline, so i think it could be reasonable to spect that.

regards

[2021-06-01 12:40] supergoudvis116 commented on #154
Thanks for the votes! I am still waiting for this to happen ;-)

[2021-06-08 13:52] DeathNote748 opened #296 "To build an web app like spotify we have to code all given in https://spotify.github.io/??"
Dear friends,
I just want to ask **_To build a web app like Spotify we have to code all given in https://spotify.github.io/??_**

[2021-06-09 12:59] FloweringPhoenix opened #297 "6"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.

#### SDK Version:

#### OS Version:

#### Scope(s):

#### Steps to reproduce:
1.
2.

#### Expected behaviour:

#### Actual behaviour: True
https://de

[2021-06-09 13:00] FloweringPhoenix commented on #297
Sorry i don't really know what i'm doing i'm just trying my best

[2021-07-03 06:46] khoitruongg commented on #252
Hi, i'm facing same issue. if Spotify is not installed on my device, it will prompt Login page and  i can login successfully, so i don't think this is problem with config on Spotify developer dashboard.

[2021-07-03 06:54] khoitruongg commented on #252
Oh, after searching, i found that my SHA key has some lower-case character, i changed it to Uppercase and it works as expected now.:)

[2021-07-16 22:18] cuiti commented on #286
Any luck resolving this issue? I'm getting exactly the same error when users choose "Continue with Google"

[2021-07-19 19:48] ghost opened #299 "Spotify connect error"
On Android smart TVs, I can't control the volume from any other devices.. This problem exists at least one year (that was when I noticed it because I started using it)

[2021-07-20 11:36] chinmaydorlikar opened #300 "Search results for queries with apostrophe used for omission should show results for all references"
Issue found on *July 20, 2021*.

#### SDK Version: 8.6.44.851

#### OS Version: Android 11 (Oxygen OS 11.0.1.1.GM57AA)

#### Use case: As a user, I should be shown results for the keyword **we're** when my search query include the keyword **we are**

#### Scope(s):
we're - we are/were
we'd -  we could/should/would
and so on
Apostrophe in a search query makes it really specific. We cannnot expect a

[2021-07-20 22:26] Mroussell opened #301 "Android Studio on Mac OS"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on 7/20/21.

#### SDK Version: 0.7.2

#### OS Version: Mac OSX 10.14.15

#### Scope(s): None

#### Steps to reproduce:
1. Follow QuickStart Guide to import .aar

[2021-07-22 08:02] piotrkst commented on #286
Same here, same with the 1.2.5 version of the auth sdk

[2021-07-22 11:59] aaronfodor opened #302 "Feature request: access user-specific "Made for you" playlists"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Dear community,

Is there any way to access the "Made for You" playlists by Android SDK or via the Web API? I can’t find a robust way that could access user-specific Discove

[2021-07-23 14:45] fikretsengul commented on #301
Yes same problem, I need help too.

[2021-08-04 17:15] flaan4me opened #303 "Spotlight"

[2021-08-04 17:15] flaan4me commented on #303
Hi

[2021-08-10 04:20] RicardoSanchezA commented on #26
@veronikapetruskova  was this issue fixed? Is there a way for our app to get a notification/broadcast whenever Spotify playback changes (even when our app is closed) in android API >= 26?

[2021-08-27 09:17] gajicm93 commented on #286
+1 This fail happens also when trying to sign-up or reset password..

[2021-09-04 05:20] tinder-levonpetrosyan opened #307 "Auth lib does not access Token from installed and logged in Spotify app"
Issue found on 09/03/2021

#### SDK Version: **_com.spotify.android:auth:1.2.5_**

#### OS Version: 30

#### Steps to reproduce:
1. Request Token in [auth sample app](https://github.com/spotify/android-sdk/tree/master/auth-sample)

#### Expected behavior:
If the Spotify app is installed and the user is logged in, we should not see a dialog where the user should fill in a username and password in o

[2021-09-19 00:05] IgorMaineti commented on #307
I'm facing this problem as well.

The problem is the changes on [package visibility on APIs 30+](https://medium.com/androiddevelopers/package-visibility-in-android-11-cc857f221cd9), although the auth-lib implemented it the right way on this [PR]( https://github.com/spotify/android-auth/pull/76/files#diff-3bf5fa56cb3d149c3029a7676846e4c950304e797c62ff2d535358451121c792R29-R35), the spotify app prob

[2021-09-20 10:29] aamir-github commented on #243
Same here, fingerprint in uppercase but still getting the error...

[2021-09-20 11:18] aamir-github commented on #243
Resolved, by replacing the released fingerprint with the debug

[2021-09-22 13:23] nv4010 opened #308 "Switching is too laggy when there is no network."
Switching is too laggy when there is no network.

[2021-09-23 13:29] nv4010 commented on #308
@jkp @mbruggmann @mbruggmann

[2021-09-23 14:38] mbruggmann commented on #308
Sorry, I know very little about android-sdk. Maybe @veronikapetruskova?

[2021-09-24 08:01] niekske opened #309 "Get auth_code in Offline mode."
Issue found on 23-09-2021.

#### SDK Version:
1.2.3

#### OS Version:
Android 10

#### Scope(s):
user-read-playback-state

#### Steps to reproduce:
1. Put Spotify app in "Offline mode"
2. Get oAuth2 auth code via: com.spotify.sdk.android.auth.AuthorizationClient

#### Expected behaviour:
Get an error back that app is in offline mode (and in different cases a different error like connection timeout

[2021-09-28 05:25] nv4010 commented on #308
@veronikapetruskova

[2021-09-29 18:54] disczteam commented on #307
Also wanted to bump this issue. Requiring users to fill in their credentials results in a significant amount of drop off for us. It would be awesome if you guys could fix this to help us create a frictionless auth experience and have parity with the iOS SDK!!

[2021-10-03 10:12] bilalsoomro commented on #307
Facing the same issue on a Pixel 5 with Android 11. It is opening the webview to get the Auth token despite having the Spotify app installed and logged in.

[2021-10-04 12:42] veronikapetruskova commented on #307
Hi all, thank you for notifying us about this issue. If I understand this correctly, it should be enough if Auth library specifies Spotify music app package under `queries` element in manifest. I have tested this with sample app and it seems to fix the behaviour on Android 11 devices. I will publish a new version of Auth library with the fix soon.

[2021-10-04 14:34] veronikapetruskova commented on #307
I have published a new version of Auth library accessible through following dependency:
`implementation 'com.spotify.android:auth:1.2.6'`

It would be great if you could test it to confirm it's working as expected 🙂 We can close the ticket after.

[2021-10-04 18:37] bilalsoomro commented on #307
The update has fixed the issue for me. Thanks!

[2021-10-05 00:41] tinder-levonpetrosyan commented on #307
Works after the update, thank you @veronikapetruskova

[2021-10-05 00:41] #307 closed, assigned to nobody

[2021-10-06 08:45] leminhduc1202 commented on #280
Same me, anyone help us this issue ? plz...

[2021-10-10 22:19] tinder-levonpetrosyan commented on #255
Does this mean that the user should fill in their username and password in order to authenticate? even if they have Spotify app installed with the logged-in user

[2021-10-21 12:12] mlenger opened #310 "Application crash upon connecting to SpotifyAppRemote using the sample code"
Issue found on *20.10.2021*.

#### SDK Version:  0.7.2

#### OS Version: 10

#### Scope(s): None / Using built-in authentication as described here: https://developer.spotify.com/documentation/android/quick-start/

#### Steps to reproduce:
Unfortunately this only happens on some third party devices (reports from Firebase Crashlytics)

#### Expected behaviour:
Authorization dialog appears

#### Actu

[2021-10-21 15:21] mlenger commented on #310
Sorry, my fault. I was re-throwing the exception in my code.

[2021-10-21 15:21] #310 closed, assigned to nobody

[2021-11-12 09:27] nv4010 opened #311 "W/BroadcastQueue: Background execution not allowed: receiving Intent { act=com.spotify.music.active flg=0x10 }"
W/BroadcastQueue: Background execution not allowed: receiving Intent { act=com.spotify.music.active flg=0x10 }

[2021-11-23 18:44] flaan4me opened #312 "Android SDK"

[2021-11-23 18:44] flaan4me commented on #312
Hi

[2021-11-26 23:21] tomasbiesok opened #313 "Spotify connecting stucks"
Hi. I tried use Spotify SDK in my app, but when I try connect to Spotify, connection stucks in connecting state. I tried app remote sample from this repository, but the problem is there too. A few minutes later is state still in connecting. In attachments is log from logcat and images from device. Thanks

Log: [spotify-log.txt](https://github.com/spotify/android-sdk/files/7610890/spotify-log.txt)

[2021-11-28 19:33] splhead commented on #26
Thank you, that's work for me.

[2021-12-02 23:02] benlane2003 opened #314 "AppRemote Connecting Issues on OS 11+"
Issue found on OS-11 and above

SDK Version: 0.7.2

OS Version: 11

Expected behaviour: For a while now, on OS 10 and below, our app has never really had a problem connecting to the Spotify APP via the Spotify Android SDK's AppRemote.

Actual behaviour: On OS11 and above, when attempting to connect the same way, the AppRemote fails to connect and results in this error: Explicit user authorization

[2021-12-09 14:48] dariustayebi opened #315 "unsubscribe PlayerState"
I'm wondering why there's no way to unsubscribe the PlayerState? It's necessary in many cases

[2021-12-09 15:17] tobika commented on #315
When you subscribe you receive a Subscription Object. Did you try using `cancel()`?
https://spotify.github.io/android-sdk/app-remote-lib/docs/com/spotify/protocol/client/Subscription.html

[2021-12-11 18:05] Ruud14 commented on #18
I am experiencing exactly this with a flutter app that I'm working on.
Are there any known fixes/workarounds?
I use [flutter spotify_sdk](https://pub.dev/packages/spotify_sdk) to interact with the Spotify API.
I've experienced this multiple times (At least every time Spotify was idle overnight) on my S10 (Android 11) but I haven't (yet) been able to reproduce this issue on my android 8.1.0 emulato

[2021-12-20 05:06] dariustayebi commented on #315
Thanks for your reply.
Now I think my issue is not related to the playerstate.
so in my app PlayerApi.play() works 90% of the time but sometimes for any reason it just doesn't work and I can't see why. Connection looks all good as well as the parameters but just play() function looks to be not working. It's hard to replicate as it only happens randomly 10% of the time.
I'm wondering if there's any

[2021-12-24 18:46] flaan4me opened #316 "S"

[2021-12-24 18:47] flaan4me commented on #316
Sufian

[2021-12-24 18:48] flaan4me opened #317 "S"

[2021-12-26 14:14] maxkeppeler opened #318 "Auth-Flow: AUTHENTICATION_SERVICE_UNAVAILABLE"
Issue found on *DATE*. ~ 07.12.2021

#### SDK Version:
spotify-app-remote-release-0.7.2 & spotify-app-remote-release-0.7.0
spotify-auth:1.2.5 &  spotify-auth:1.2.6, .. And any I tried

#### OS Version: Android version 10 (Huawei P30 Pro & Samsung Galaxy s20)

#### Scope(s):

#### Steps to reproduce:
1. Starting auth-flow
2. calling AuthorizationClient.openLoginActivity()
3. LoginActivity is immedi

[2022-01-02 11:51] maxkeppeler commented on #318
<img width="1396" alt="Bildschirmfoto 2022-01-02 um 12 48 31" src="https://user-images.githubusercontent.com/15075376/147874857-b8b66334-b2de-49bf-9114-656a315182fe.png">

[2022-01-06 12:16] AndroidJulian commented on #318
Any updates to this? I'm facing the same issue.

[2022-01-11 14:47] mixeden commented on #31
Dudes?

[2022-01-15 07:05] suryababus commented on #318
This is happening for me too. Please any update??

[2022-01-21 14:59] voxmate-gleb commented on #318
Facing same issue. Spotify not cooperating at all.

[2022-01-24 07:22] jadenbanson commented on #318
i noticed i had this issue when trying to use the auth & app-remote libraries together.

i removed the app-remote lib and everything was fine. this is a problem however as i need to use it in my app, trying to find a solution :(

[2022-01-24 09:13] fantasy1022 commented on #286
It has the same with the 1.2.6 version of the auth sdk.
If the phone already installs the Spotify App with login state, the third party App using Spotify login can directly login. Maybe this way is a workaround.

[2022-01-24 11:07] Dhiraj-kumar-kumawat commented on #263
Hello Team,

I am also getting the same issue. I have used one plus 7 android mobile.
Error message "com.spotify.android.appremote.api.error.SpotifyRemoteServiceException: Unable to connect to Spotify service".

So please fix this issue ASAP.

[2022-01-25 09:00] pimpimmi commented on #318
Hi, I'm looking into this for Spotify.

Looking at the screenshots above, it seems like the first screenshot is from auth-lib and the second one is from app-remote.

This error message is expected to happen in app-remote if you try to connect to app-remote with a non-authenticated user without setting the connection parameter "showAuthView" to true, i.e. you need to do something like:

[code]

Thi

[2022-01-25 10:17] voxmate-gleb commented on #318
Hi @pimpimmi

My code snippet is simple (kotlin):

        val connectionParams = ConnectionParams.Builder(ClientID)
            .setRedirectUri(RedirectURI)
            .showAuthView(true)
            .build()

        runOnMain {
            SpotifyAppRemote.connect(main, connectionParams, object : Connector.ConnectionListener {
                override fun onConnected(remote: SpotifyAppRemote)

[2022-01-25 10:42] pimpimmi commented on #318
@voxmate-gleb What do you mean it "freaks out" when using auth-lib? If the user is authorized, expected behaviour is for a popup to be quickly shown before returning the token.

Regarding app-remote. Does the app-remote sample app work for you? Have you entered client-id or redirect uri exactly as in https://developer.spotify.com/dashboard and does the package name + signature match? Do you get an

[2022-01-26 03:11] jadenbanson commented on #318
@pimpimmi

I mitigated the issue by getting rid of auth-lib and moving that to a react native webview based auth system.

 but for app-remote running into an issue where i'm now receiving the "explicit user authorization is required to use Spotify. The user has to complete the auth-flow to allow the app to use Spotify on their behalf" error even after following/copying the example code exactly.

I

[2022-01-26 08:16] pimpimmi commented on #318
@jadenbanson Could you verify that the redirecturi, client id, package name and signature are the same as you have set on https://developer.spotify.com/dashboard?

Do you get any log messages from Spotify when using "adb logcat -s Spotify" ?

<img width="1165" alt="Screenshot 2022-01-26 at 09 11 21" src="https://user-images.githubusercontent.com/1528631/151126747-dd5ffad1-f642-4eec-bc37-81c08a45ab

[2022-01-26 09:01] jadenbanson commented on #318
@pimpimmi Hi I verified that redirecturi, client id, package name and signature are matching on the app and in the dashboard.

I am getting no log messages from Spotify when using "adb logcat -s Spotify"

still getting this error:

`com.spotify.android.appremote.api.error.UserNotAuthorizedException: {"message":"Explicit user authorization is required to use Spotify. The user has to complete the au

[2022-01-27 06:58] jadenbanson commented on #318
hey @pimpimmi any update on this? sorry for being pushy, this issue has just been blocking progress.

[2022-01-27 08:09] pimpimmi commented on #318
@jadenbanson We have been unable to reproduce this issue and seeing nothing to indicate there is a bug on our end.

I would suggest you double-check your setup to make sure everything is correct. If you still believe there is an issue with the SDK, we would need to get more detailed instructions how to reproduce the issue from our end.

[2022-01-27 08:34] AndroidJulian commented on #318
An app that had been using the Spotify auth randomly stopped working here too without me changing anything. All I'm getting is the Authentification_Serivce_Unavailable. Can't seem to figure out a way to get it to work now.

[2022-01-27 08:48] pimpimmi commented on #318
@jadenbanson @AndroidJulian Do you have any APK you could share? That way we could check if there is a bug in the Spotify app.

[2022-01-28 01:06] jadenbanson commented on #318
@pimpimmi do you have an email i could send the APK to?

Also our app is RN + Native android, would this have something to do with the dialog not being presented/auth not working?

[2022-01-28 05:30] pimpimmi commented on #318
@jadenbanson I'll send you an email from my Spotify mail.

We haven't verified the SDK's work as they should when using RN, so I wouldn't rule it out.

[2022-01-28 19:32] jadenbanson commented on #318
Responded to your email with the SDK :)

[2022-01-30 21:23] pimpimmi commented on #318
@jadenbanson Looks like the signature in that APK doesn't match with the one you have registered on https://developer.spotify.com/dashboard. I'll email you more details.

[2022-01-30 21:37] jadenbanson commented on #318
@pimpimmi I think the APK signature may have changed when I compiled the APK, i just added the new signature to the dashboard, but still getting the same results when I test the APK

[2022-02-02 11:42] voxmate-gleb commented on #318
@pimpimmi We are still seeing the issue. Any updates?

[2022-02-03 13:35] TerrizX commented on #318
Having the same issue, the authorization  login loads then immediately disappears, it used to work fine before.

[2022-02-05 12:31] oemel09 commented on #12
It has been almost 4 years now... Are there any plans to implement a way to get refresh tokens from the Spotify App?

[2022-02-05 15:40] BjoernPetersen commented on #12
Haha, they're probably all busy making the UX a little worse in the next app update.

Seriously though, my impression is that this SDK was brought to life by a specific team at Spotify. That team probably fell apart for some reason (it happens), and no one who's left even knows how the SDK works anymore. I wouldn't get my hopes up on this issue being resolved this year.

[2022-02-09 17:57] EliasRut commented on #318
I have the same issue, Any updates?

[2022-02-10 15:10] pimpimmi commented on #318
We are still investigating the issue and are still not able to reproduce.

We suspect it might have something to do with the internal cache in the app. Could you try clearing the app data and check if it works?

It would also be helpful if you could send us the client-id for your app. You can send it to joachimn@spotify.com if you don't want to post it here.

[2022-02-11 13:04] voxmate-gleb commented on #318
@pimpimmi - Would you like a screencast demo of the problem? I have 100% reproducibility on two test devices. Just ping me at @voxmateapp on twitter.

[2022-02-15 07:41] gghzc commented on #318
I have the same issue, Any updates?
AuthorizationResponse always returns error: AUTHENTICATION_SERVICE_UNAVAILABLE
And the other problem is, i have setShowDialog(false)  but it still display the ”loading...“ view
（spotify-app-remote-release-0.7.2 & spotify-auth-release-1.2.3.aar）

[2022-03-03 12:51] rsicarelli commented on #318
Also got this error. Tried on both auth standalone and remote sdk.

1. No Spotify app installed on device
2. Open target app, launch/click Spotify login
3. In the launched WebView, add credentials. Allow access to the app scopes
4. ✅  Access Token is returned
5. Open play store and install/open Spotify app. Perform login
6. Fresh install/wipe data the target app
7. Open the target app, launch/clic

[2022-03-09 10:09] rsicarelli commented on #318
Very happy to share that I fixed the issue from my side 🥳

The problem was _**missing SHA1 configuration on Spotify developer portal**._

✅  Auth and Remote libs working as expected now.

[2022-03-17 05:01] samcsyu opened #322 "SpotifyAppRemote.connect() has no response on Android 12"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*.
Mar 17, 2022

#### SDK Version:
SDK: spotify-app-remote-release-0.7.2.aar
Spotify Android app: 8.7.10.1262

#### OS Version:
Android 12

#### Scope(s)

[2022-03-21 10:37] vinayak19th commented on #25
I'm still getting the issue, when I compile my application using Bazel, the authentication window doesn't pop up at all to allow me to grant permissions

[2022-03-25 09:26] dandv commented on #317
@mdelolmo is anyone from Spotify looking at these issues?

[2022-03-25 09:27] dandv commented on #316
@veronikapetruskova: is anyone from Spotify looking at some of these issues?

[2022-04-07 14:32] veronikapetruskova commented on #322
Hi @samcsyu do you still have this issue? Do you see any errors in logs? I have tried to reproduce this on Android 12 emulator but could not.

[2022-04-07 14:40] veronikapetruskova commented on #301
Hi @fikretsengul have you tried to just drag and drop the .aar file into your project? Then you should just update the dependencies section of build.gradle file so that it can locate the .aar file:
[code]

[2022-04-10 23:06] Mroussell commented on #301
Yes, I tried that at the time and it did not work. I believe it has been patched in the newest version of android studio. So I am going to close this issue. Thank you!

[2022-04-10 23:06] #301 closed, assigned to nobody

[2022-04-11 06:29] samcsyu commented on #322
Hi @veronikapetruskova, I still have the issue when running on the Android phone with Android 12.  At line 339 to 357 of RemotePlayerActivity.java or depicted below, onConnected() or onFailure() callbacks never get called  after calling SpotifyAppRemote.connect().

[code]

Below is the full log.

[code]

It has a lot of warnings, but not sure if above warning / error duplicated below are related.

[2022-04-18 15:08] egomezsumma commented on #82
It is still happening to me too

[2022-05-11 10:01] gleno commented on #318
For people who are still struggling - **I have the solution!**

A SHA-1 fingerprint is just bytes, to print it we use various notations - spotify wants something like E1:AA:EE.... etc. The notation has to be upper case, and not e1:aa:ee... the notations are completely equivalent, but spotify only accepts the upper case version, and will give a cryptic `AUTHENTICATION_SERVICE_UNAVAILABLE` if you pl

[2022-05-14 05:11] akshaaatt opened #323 "F-Droid Submission"
We have been working on an open source platform called MusicBrainz to provide access to data. We would like to leverage the Spotify android sdk to connect with Spotify and play songs in our app. We have been successful with the integration however we wanted to know whether the Spotify android sdk is open sourced or closed sourced for publishing on F-Droid.

[2022-05-28 13:45] PolygonFox commented on #31
The current state of the API gives very limited control of the playback.

I want to hold and control a playlist in my application and keep the playback in sync. I tried 2 different methods to achieve this:
- Working with the queue gives no control over reordering tracks, clearing the queue.
- Working with a custom playlist gave me the most control, except this gave me problems later on. The client

[2022-05-31 03:14] chuck-stein opened #324 "Use Activity Result API instead of deprecated methods startActivityForResult & onActivityResult"
The current implementation of `AuthorizationClient` calls [startActivityForResult](https://developer.android.com/reference/androidx/activity/ComponentActivity#startActivityForResult(android.content.Intent,int)) and expects the user to call [onActivityResult](https://android.googlesource.com/platform/frameworks/support/+/androidx-main/activity/activity/src/main/java/androidx/activity/ComponentActiv

[2022-06-01 20:19] KunalThread commented on #286
Anyone able to resolve this or any work around ?

[2022-06-02 02:23] wynneplaga opened #325 "Auth lib returns null request code on subsequent logins"
*Thanks for your interest in the Spotify App Remote SDK!

Issue found on June 1, 2022.

#### SDK Version: Auth lib 2.0.2

#### OS Version: Android 12

#### Steps to reproduce:
1. Open sample app
2. Press "request code"
3. Complete log in
4. Observe successful fetch
5. Press "request code" again
6. Observe tabs open, complete redirect, and close

#### Expected behaviour:

Code is a valid Spotify co

[2022-06-06 16:14] levino opened #326 "What is the correct "authorize"? url"
By some digging and reverse engineering I found out that in order to start a (standard) oauth code flow on ios I have to open ```spotify-action://authorize?response_type=code&client_id=XXX&scope=user-read-email&redirect_uri=XXX``` on iOS. I can then handle the callback nicely in my app and retrieve the code. This url does not work however on Android. I tried ```spotify://authorize?response_type=co

[2022-06-22 11:42] jstokke commented on #82
I had this problem. I "solved" it by going into settings->apps->spotify and force stop spotify. Only then I could connect again and it worked as expected. Hopefully, this is a development issue only.

I think this behavior must be some bug with the SDK.

[2022-07-04 16:16] CherryPerry opened #327 "AuthSDK: CustomTabs flow does not work on older devices"
Issue found on 2020-07-04.

#### SDK Version:

2.0.2

#### OS Version:

Android Emulators API 23, 24, 25, 26 with Bromite Chromium v102 (It is easier to install it instead of Chrome, but it is actually degoogled Chrome).

Android 6, Xiaomi Mi 3W with Chrome installed

#### Scope(s):

CustomTabs login

#### Steps to reproduce:
1. Have a device with Custom Tabs browser (default browser on non-Google

[2022-07-05 09:57] CherryPerry commented on #327
Duplication of https://github.com/spotify/android-sdk/issues/325

[2022-07-07 14:01] gajicm93 opened #328 "Manifest merger failed with Auth lib 2.0.2"
Issue found on 7/7/22.

#### SDK Version: Auth 2.0.2

#### OS Version: /

#### Scope(s): /

#### Steps to reproduce:
1. Include Auth lib 2.0.2
2. Try to build app

#### Expected behaviour:

App builds normally.

#### Actual behaviour:

[code]

[2022-07-07 16:12] dariobrux commented on #82
Via code, when `onFailure()` was triggered after the `SpotifyAppRemote.connect(...)`, try to open the Spotify LoginActivity to get the token again.

    .Builder(CLIENT_ID, AuthorizationResponse.Type.TOKEN, REDIRECT_URI)
    .setScopes(SCOPES)
    .build()
AuthorizationClient.openLoginActivity(this, REQUEST_CODE, request)

then, after entering in onActivityResults, try again to call `SpotifyAppRem

[2022-07-10 18:59] egomezsumma commented on #82
I try to re-login with **AuthenticationClient.openLoginActivity** when i get **"result was not deliver on time"** after the SpotifyAppRemote.connect(...) but it still doesnt work

The only thing it work is to clean the memory using another app. Its very frustraiting, i dont think my users do that, when that occurs :( they just gonna unistall my app

[2022-07-11 06:28] dariobrux commented on #82
Did you try to call `SpotifyAppRemote.disconnect(...)` before to call `SpotifyAppRemote.connect(...)` ?
Because, really, I never needed to clean the memory.

[2022-07-20 16:41] lorenzodella opened #329 "Android Auth Library VS App Remote"
I don't understand how to get an instance of SpotifyAppRemote if I log in with the Single Sign-on (Android Authentication Library).
Can I do that? Or am I supposed to use Built-in authorization if I want to use App Remote?

[2022-08-10 20:03] Abominabl31 opened #330 "Spotify App Remote `AuthenticationFailedException` When Connecting Offline Immediately After A Successful Connection"
...This is a referral from @SpotifyCares via Twitter and the Spotify Community Forum.  Spotify Cares indicated this would be the best place to address this issue.  Thanks for your help!

Issue Found: on 2022-Aug-10, Spotify community posts date back to at least 2022-May-10

#### SDK Version: 0.7.2

#### OS Version: Android 12

#### Scope(s): `app-remote-control playlist-modify-public playlist-read

[2022-08-24 09:26] runemadsen commented on #121
This is still an issue for me. Running into exactly the same problem.

*Edit*: I made it work like this:

[code]

[2022-08-24 21:24] Abominabl31 commented on #330
This issue is still getting posts on the Spotify Community forum as well.
👉🏻 https://community.spotify.com/t5/Spotify-for-Developers/Android-Spotify-App-Remote-AuthenticationFailedException-When/td-p/5415218
👉🏻 https://community.spotify.com/t5/Spotify-for-Developers/Connect-SpotifyAppRemote-when-offline/m-p/5420333/highlight/true#M5430

If this issue will be worked on at any point in the future, i

[2022-09-01 02:46] Ltb2539 opened #331 "Connect to spotify without callback for a long time"
SDK Version: 0.7.2
android Version: 10
Spotify Version: 8.7.58.462
Steps to reproduce:
    Connect to the Spotify via SpotifyAppRemote.connect()

Expected behaviour:

    Print "connected yay!" And get spotifyappremote

Actual behaviour:

Logcat is filled with messages like these:
   `
E/Spotify: Start Connected!
W/.innioasis.dem: Unable to resolve Lcom/spotify/protocol/types/HelloDetails; annotat

[2022-09-02 04:51] SajWorks commented on #158
Hello, I'm still experiencing this exact same error in 2022 when trying to use seekTo() immediately after calling play().  I'm running version 8.7.58.461 of the Spotify app.  Any word on adding the ability to start a track at a specific playback position to the SDK?  Thank you!

[2022-09-15 23:31] damiafuentes opened #332 "Remove authentication using the Spotify App Remote library"
Issue found on September 15th 2022.

#### SDK Version:
Spotify App Remote Library - spotify-app-remote-release-0.7.2.aar

#### Expected behaviour:

Once a user is authenticated using the Spotify App Remote Library, there's no way to remove the user authentication. Or maybe I cannot find a way myself. I think having that functionality is a must so that users can decide to remove the authentication

[2022-09-27 13:29] joseandroidengineer opened #333 "Spotify Login not working for AndroidTV/FireTV"
Issue found on 09/01/2022.

#### SDK Version: 0.7.1

#### OS Version: 9.0

#### Scope(s): Login

#### Steps to reproduce:
1.Click on something to launch the Spotify Login Intent Webview Activity
2. Spotify Login Webview Activity window is shown
3. Using FireTV or AndroidTV remote try to highlight or request focus on user credential fields

#### Expected behaviour: User credential fields should be

[2022-09-28 06:29] lavpreetsandhu commented on #276
hi @skyberk have to tried anything or is there any way to solve this problem ... i am facing same problem....
 Waiting for you reply.

[2022-09-28 11:29] rtessler opened #334 "SpotifyAppRemote..getPlayerApi().play() plays the wrong track"
*Thanks for your interest in the Spotify App Remote SDK!
If you're submitting a bug, please use the following template.
If your issue is a feature request, please include your use-case so that we have all the necessary info.*

Issue found on *DATE*. 28-Sep-2022

#### SDK Version: spotify-app-remote-release-0.7.2.aar

#### OS Version: android 12

#### Scope(s): app

#### Steps to reproduce:
1. open

[2022-10-17 15:59] datsuk000 opened #335 "Wrong playbackRestrictions info from playerApi"
I always receive false values info for playbackRestriction, no matter if it  premium or free account:
`playbackRestrictions=PlayerRestrictions{canSkipNext=false, canSkipPrev=false, canRepeatTrack=false, canRepeatContext=false, canToggleShuffle=false}}`

These issue is started to  occurs only a few days ago, before that everything worked properly

[2022-10-29 14:16] FBLador commented on #322
Did you manage to solve the issue? I have the same issue now and I can't find a solution online

[2022-11-07 04:31] harun7arrashid commented on #327
how is it going with this case ? I have the same issue. Thankyou.

[2022-11-14 19:01] mlenger opened #336 "SpotifyAppRemote.getConnectApi().connectSetVolume(newVolume) throwing exception"
Issue found on 2022-11-14.

#### SDK Version:  0.7.4

#### OS Version: Any  Android version

#### Scope(s): app-remote-control

#### Steps to reproduce:
1. Connect to Player according to documentation
2. Call `connection.connectApi.connectSetVolume(0.5f)`

#### Expected behaviour:

Volume is adapted to new volume level. This used to work until some recent update of the Spotify app.

#### Actual be

[2022-11-23 12:40] Ibs-Ltd commented on #286
Is anyone able to resolve this or any workaround?

[2022-11-25 14:50] petrnalevka commented on #330
Hello.. 3 months later still the same problem.. Would be great if someone could look into this.. Thank you

[2022-11-29 21:26] ahmadajmal9301 commented on #219
Is there a solution to this? I've tried the solution that @ChristopherCarignan gave but the issue still remains.